<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/ateliers_particulier.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Ateliers particulier</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>


    <main>
        <div class="espace">
            <p>Espace particuliers</p>
        </div>
        <div class="liste_ateliers">
            <div class="ateliers">
                <div class="ateliers_un_image"></div>
                <p class="ateliers_titre">ATELIER D’AUTO-HYPNOSE ADULTES</p>
                <p>Cet atelier a pour objectif de vous amener de manière intégrative à l’autonomie dans la pratique de
                    l’Auto-hypnose à titre personnel.</p><br>
                <p>L'auto-hypnose permet d'activer vos ressources personnelles, et ainsi votre plein potentiel.</p><br>
                <div class="btn_savoir">
                    <a href="#ateliers_hypnose_adultes">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers">
                <div class="ateliers_deux_image"></div>
                <p class="ateliers_titre">ATELIER DEVELOPPEMENT PERSONNEL</p>
                <p>Cet atelier faite suite à la formation d’auto-hypnose.</p>
                <p>Différentes thématiques sont abordées comme l'apprivoisement des émotions, être en accord avec ses
                    valeurs, la gestion du stress... Des outils spécifiques sont intègrés pour répondre aux besoins
                    spécifiques (EFT, Auto-hypnose, respiration...)</p>
                <div class="btn_savoir">
                    <a href="#ateliers_dev_perso">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers">
                <div class="ateliers_trois_image"></div>
                <p class="ateliers_titre">ATELIER D’AUTO-HYPNOSE ADOS</p>
                <p>Ces ateliers abordent des thématiques générales (stress, confiance en soi, angoisse, émotions,
                    douleur, besoin de concentration, mémorisation, sommeil) et non des difficultés précises tels que
                    les TOC, trauma, deuil qui nécessite des séances individuelles (l’auto-hypnose peut venir en
                    complément).
                </p><br>
                <div class="btn_savoir">
                    <a href="#ateliers_hypnose_ados">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers">
                <div class="ateliers_quatre_image"></div>
                <p class="ateliers_titre">ATELIERS ENFANTS / ADOS</p>
                <p>Ces ateliers ont pour objectif de développer la Confiance en Soi tout en apprenant à
                    apprivoiser les émotions.</p><br>
                <p>Des ateliers qui se déroulent dans le plaisir, la bienveillance en respectant l'identité de chacun
                    pour évoluer en collectivité.</p><br>
                <div class="btn_savoir">
                    <a href="#ateliers_enfants_ados">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers">
                <div class="ateliers_cinq_image"></div>
                <p class="ateliers_titre">ATELIER DU MIEUX-ÊTRE</p>
                <p style="text-align: center;">au centre de Radiothérapie Maurice Tubiana,
                    Clinique du Parc, à Caen</p><br>
                <p>Ces ateliers sont destinés aux patients suivis au Centre Tubiana, qui sont en cours de traitement -
                    chimio ou radiothérapie - ou en cours de surveillance.</p><br><br>
                <div class="btn_savoir">
                    <a href="#ateliers_mieux_etre">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers_or">
                <p>Si vous êtes intéressé, Contactez-moi au 06.86.68.26.06 ou par email pour connaître les dates des
                    prochains ateliers ou pour plus d'informations.</p><br>
                <p>Bien souvent les groupes sont créés suite à la demande !</p><br>
                <p>Avec plaisir...</p>
            </div>
        </div>
        <div id="ateliers_hypnose_adultes">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier d’auto-hypnose adultes</h2>
            </div>
            <div class="deroulement">
                <div class="deroulement_bloc_orange">
                    <p>Groupe de 4 à 8 personnes</p>
                    <p>3 modules de 2h chacun</p>
                    <p>90 euros les 3 modules</p>
                    <br>
                    <p>Alternance théorie & pratique</p>
                    <p>Support écrit & audio</p>
                    <br>
                    <p>Bonne humeur au rdv ...</p>
                    <p>être bien tout simplement...</p>
                </div>
                <div class="deroulement_desc">
                    <p>L'auto-hypnose est une recherche interne vers une <span class="or">richesse intérieure</span>,
                        elle permet d'accéder par
                        soi-même à un état de rêve éveillé permettant d'implanter des suggestions positives dans notre
                        inconscient pour déclencher un processus de changement de pensées, croyances, comportements dans
                        la direction de l'objectif... Des connaissances théoriques sur l'hypnose, l'auto-hypnose, et
                        diverses pratiques seront vécues pour assimiler la technique, tout cela de façon simple et
                        ludique. Des supports écrits et audio seront transmis. <span class="or">Vous apprendrez
                            l'auto-hypnose afin
                            d'être autonome</span> dans votre pratique chez vous, pour ensuite être bien tout simplement
                        au
                        quotidien...</p>
                </div>
            </div>
            <div class="programme">
                <div class="programme_programme">
                    <p class="deroulement_titre">Ce que je peux attendre de l’Auto-hypnose:</p>
                    <ul>
                        <li>Être plus autonome</li>
                        <li>Vivre le changement sereinement</li>
                        <li>Développer la confiance en moi</li>
                        <li>Améliorer mes relations avec les autres</li>
                        <li>Changer un comportement problématique (alimentation, agressivité, soumission, tabac...)</li>
                        <li>Avoir une meilleure estime de moi</li>
                        <li>Prendre soin de mes besoins</li>
                        <li>Résoudre des problèmes</li>
                        <li>Surmonter des difficultés de ma vie</li>
                        <li>Améliorer mon quotidien</li>
                        <li>Améliorer mon sommeil et mes capacités de récupération</li>
                        <li>Améliorer ma santé physique</li>
                        <li>Améliorer ma mémoire et mes capacités d’apprentissage</li>
                        <li>Mieux faire face à mes émotions</li>
                        <li>Me préparer à des événements de vie particuliers (concours, opérations, etc.)</li>
                        <li>Découvrir de nouvelles compétences inattendues</li>
                    </ul>
                </div>
                <div class="programme_objectif">
                    <p>En option, à la fin de l’atelier est proposé 10 modules mensuels de 2h. dans une démarche
                        évolutive et dynamique pour avancer sur son chemin progressivement à son rythme et à sa manière.
                    </p><br>
                    <p>La continuité des ateliers permet un accompagnement abordant différentes thématiques plus
                        spécifiquement : confiance en soi, apprivoisement des émotions, affirmation de soi, pensées,
                        sommeil, détermination d'objectifs, assertivité gestion du stress... </p>
                    <p>Les thématiques sont définis suivant les besoins et l'évolution du groupe.</p>
                </div>
            </div>
        </div>
        <div id="ateliers_dev_perso">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier de développement personnel</h2>
            </div>
            <div class="deroulement">
                <div class="deroulement_bloc_orange">
                    <p>Groupe de 4 à 8 personnes</p>
                    <p>10 modules de 2h chacun <br> repartis sur l’année</p>
                    <p>30 euros par modules</p>
                    <br>
                    <p>certains mercredis</p>
                </div>
                <div class="deroulement_desc">
                    <p>Des techniques simples et efficaces adaptés aux différentes thématiques abordées vous seront
                        transmises pour être autonome dans le quotidien et être de plus en plus en paix. Vous apprendrez
                        l'EFT dans l'estime de soi et l'apprivoisement des émotions, des techniques respiratoires dans
                        la gestion du stress et l'assertivité... et bien d'autres choses pour permettre à chacun de se
                        connaître davantage et répondre à ses propres besoins.</p>
                </div>
            </div>
            <div class="programme">
                <div class="programme_programme">
                    <p class="deroulement_titre">exemple d'ateliers proposés...</p>
                    <ul>
                        <li>Rappels et approfondissement de l’auto-hypnose</li>
                        <li>Confiance et estime de soi</li>
                        <li>Qualités et valeurs. Qu’est-ce qu’on en fait?</li>
                        <li>Identifier et apprivoiser mes émotions</li>
                        <li>Accueillir mes émotions de manière adaptée</li>
                        <li>Communication non violente : Émotions et besoins</li>
                        <li>Gestion du stress : Émotions, pensées et sensations corporelles</li>
                        <li>Croyances et injonctions limitantes : Quelles autorisations me donner?</li>
                        <li>Assertivité et Accords Toltèques</li>
                        <li>Congruence, être pleinement soi-même</li>
                    </ul>
                </div>
                <div class="programme_objectif">
                    <p class="or">EN VOUS INSCRIVANT A L’ATELIER, VOUS VOUS <br> ENGAGEZ A PARTICIPER AU 10 MODULES</p>
                </div>
            </div>
        </div>
        <div id="ateliers_hypnose_ados">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier d’auto-hypnose ados</h2>
            </div>
            <div class="deroulement">
                <div class="deroulement_bloc_orange">
                    <p>Groupe de 4 à 6 ados</p>
                    <p>5 modules de 1h chacun</p>
                    <p>100 euros les 5 modules</p>
                    <p>puis module complémentaire</p>
                    <p>mensuel à 20 euros possible</p>
                    <br>
                    <p>Alternance théorie & pratique</p>
                    <p>Support écrit & audio</p>
                    <br>
                    <p>Bonne humeur au rdv ...</p>
                    <p>être bien tout simplement...</p>
                </div>
                <div class="deroulement_desc">
                    <p class="or">Les ateliers se déroulent avec bienveillance et écoute tout en expérimentant de
                        manière intégrative l'auto-hypnose.</p>
                    <p>L’adolescence, une période de la Vie pas toujours évidente… durant laquelle, parents et ados
                        peuvent se sentir démunis.</p>
                    <p>En effet, l’adolescence s’inscrit dans un mouvement de rupture par rapport à l’enfance, c’est une
                        période de transition, elle est définie à la fois comme une période de vulnérabilité et de
                        transformation, de chamboulements, de crises…</p><br>
                    <p>Et si vous pouviez offrir à votre adolescent, un outil naturel et personnel pour vivre le plus
                        sereinement possible cette période ?</p>
                    <p>En apprenant l’auto-hypnose, votre adolescent peut <span class="or">se recentrer et accéder à ses
                            propres ressources intérieures</span>, pour limiter ou lever les blocages, tout en
                        traversant chaque étape le plus facilement possible…</p><br>
                    <p>Il est vrai que l’adolescence est une phase de multiples changements (physiques, psychologiques,
                        émotionnelles, scolaires, sexuels…) mais c’est aussi une <span class="or">phase de découverte
                            d’indépendance, de
                            construction de l’identité, de la personnalité.</span></p>
                    <p>Au cours des ateliers, ce sont donc différents thèmes qui seront abordés comme <span
                            class="or">la gestion des
                            comportements, des pensées, des émotions, des besoins et la confiance en soi.</span></p>
                </div>
            </div>
            <div class="programme">
                <div class="programme_programme">
                    <p class="deroulement_titre">Que peut apporter l’Auto-hypnose ?</p>
                    <p>L’auto-hypnose établit une connexion avec l’inconscient en accédant à <span class="or">la
                            visualisation</span> pour se
                        préparer aux changements de la Vie. Les ados auront <span class="or">les outils pour répondre à
                            leurs besoins
                            physiques, psychologiques, mentaux et spirituels.</span></p><br>
                    <p>L’auto-hypnose permet de communiquer avec l’inconscient, qui est un réservoir de savoir, de
                        savoir-faire et de savoir-être, d’apprentissages, de créativité et d’idées nouvelles, puissant
                        acteur d’équilibre et de comportements sains et écologiques.</p>
                    <p>C’est cette partie avec laquelle nous apprenons à coopérer grâce à l’auto-hypnose.</p><br>
                    <p><span class="or">L’auto-hypnose est un moment d’évasion créé pour accéder à nos
                            ressources</span>, au plus profond de
                        soi, au niveau de l’inconscient, où se cache le sens de nos émotions, certains besoins mais
                        aussi beaucoup de richesse…</p>
                    <p>L’état hypnotique est un état naturel, un état entre la veille et le sommeil, un moment
                        d’évasion, c'est-à-dire que nous sommes tellement absorbés dans nos pensées que nous en oublions
                        presque l’endroit où nous sommes, cet état d’hypnose (où le conscient est en retrait) qui est
                        créé intentionnellement pour une séance, permet d’accéder au réservoir des ressources
                        intérieures dans l’inconscient.</p>
                </div>
                <div class="programme_objectif">
                    <p>Destinés aux ados à partir de la 6ème, les groupes sont constitués en fonction des âges. vous
                        pouvez constituer vous-même votre groupe avec vos copains ou copines.</p><br>
                    <p>Dates et horaires déterminées ensemble, après prise de contact.</p><br>
                    <p>En option, à la fin de l’atelier est proposé 10 modules mensuels d’1h. pour accompagner dans un
                        cadre bienveillant et sécurisant l’ado dans sa démarche évolutive pour avancer sur son chemin
                        progressivement à son rythme et à sa manière.</p><br>
                    <p>La continuité des ateliers permet un accompagnement de questions existentielles dans les
                        différents domaines de Vie (école, sport, relations sociales, amicales ou familiales…) : « Qui
                        suis-je ? Comment m’affirmer en respectant les autres ? Comment me protéger ? Quel est mon
                        projet d’avenir ? Quelles sont mes valeurs, mes croyances ? Suis-je capable ?... »</p>
                </div>
            </div>
        </div>
        <div id="ateliers_enfants_ados">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier enfants / ados</h2>
            </div>
            <div class="programme">
                <div>
                    <div class="deroulement">
                        <div class="deroulement_bloc_orange">
                            <p>Groupe de 4 à 6 enfants/ados à partir de 6 ans</p>
                            <p>6 modules de 1h chacun</p>
                            <p>120 euros les 6 modules</p>
                            <br>
                            <ul>
                                <li>6-8 ans</li>
                                <li>8-10 ans</li>
                                <li>Adolescents</li>
                            </ul>
                        </div>
                        <div class="deroulement_desc">
                            <p>LES DIFFERENTS MODULES :</p><br>
                            <p>1. Identifier et gérer mes émotions</p>
                            <p>2. Mes 5 sens pour savoir qui je suis</p>
                            <p>3. Mon cerveau : mode d’emploi</p>
                            <p>4. Agir sur mes émotions en identifiant mes besoins</p>
                            <p>5. Prendre Confiance en moi</p>
                            <p>6. Synthèse et échange avec les parents</p><br>
                            <p class="or">Un livret sera donné aux enfants/ados au fur et à mesure des modules.</p>

                        </div>
                    </div>
                    <div class="programme_programme">
                        <p>Malheureusement, culturellement en tant qu’adulte nous avons tendance à ne pas écouter nos
                            émotions. Depuis très longtemps dans l’Histoire, nous nous sommes petit à petit déconnectés
                            de
                            nos sensations corporelles et de nos ressentis émotionnels. Aujourd’hui, de plus en plus
                            d’études nous montrent que les émotions sont utiles. Chaque émotion a une fonction définie,
                            c’est un message envoyé par notre corps pour nous mobiliser, par conséquent, il est bienvenu
                            de
                            prendre ses émotions en compte pour écouter ses besoins pour adapter ses comportements et
                            ses
                            actions. Elles peuvent être agréables et désagréables à ressentir.</p>
                        <p>En tant que professionnelle et parent, je pense qu’il est primordial que la génération de nos
                            enfants puissent avoir les clés pour comprendre comment apprivoiser ses émotions.</p>
                        <br>
                        <p>Pour cela, je vous propose des ateliers pour les enfants et les adolescents. L'interactivité
                            et
                            le jeu sont les éléments primordiaux de la transmission d'apprentissage, chaque enfant
                            évolue à
                            son rythme et à sa manière.</p><br>
                        <p>Pour chaque atelier nous aurons :</p>
                        <ul>
                            <li>une partie explicative ludique pour comprendre comment fonctionne les émotions suivant
                                le
                                thème du module</li>
                            <li>des outils piochés dans différentes méthodes pour que chacun trouve ce qui lui
                                correspond
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="arbre"></div>
                </div>
            </div>
            <p>Lors du dernier module, <span class="or">un échange avec les parents</span> est prévu pour <span
                    class="or">vous transmettre des clés</span> qui
                synthétiseront les différents modules réalisés avec vos enfants/ados, cela dans le but de gérer de
                manière autonome le quotidien.</p>
            <p>En tant que parents, nous sommes souvent perdus face aux réactions de nos enfants qui nous semblent
                souvent démesurées. Nous avons parfois tendance à leur demander des choses qu’ils ne sont pas encore
                capables de faire car leur développement psycho-affectif et cérébral ne leur permet pas de l’appliquer.
                Lors de ce dernier module, je vous expliquerai succinctement suivant l’âge de votre enfant/ado ce qui
                peut être mis en place.</p><br>
            <p>Ainsi, ces ateliers permettront, d'une part, à vous parents, d'adopter <span class="or">une parentalité
                    constructive</span> et
                plus agréable, et d'autre part permettront à vos enfants de développer leurs ressources en exploitant
                leurs émotions et ainsi de grandir plus sereinement avec confiance.</p>
            <div class="citation">
                <div class="texte-or">
                    <img class="guillemet" src="../assets/images/taches/guillemet-gauche.png" alt="guillemet-gauche">
                    Tout prend sens, en utilisant tous ses sens, <br> dans le bon sens...
                    <img class="guillemet" src="../assets/images/taches/guillemet-droite.png" alt="guillemet-droit">
                </div>
            </div>
        </div>
        <div id="ateliers_mieux_etre">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier du mieux-être</h2>
            </div>
            <div class="programme">
                <div>
                    <div class="deroulement">
                        <div class="deroulement_bloc_orange">
                            <p>Groupe de 4 à 8 personnes</p>
                            <p>5 modules de 2h chacun</p>
                            <p>Financé par le centre Tubiana</p>
                            <br>
                            <p>Alternance théorie & pratique</p>
                            <p>Support écrit & audio</p>
                            <br>
                            <p>chaque mardi au RDC du Centre Maurice Tubiana.</p>
                        </div>
                        <div class="deroulement_desc">
                            <p>5 MODULES POUR : </p><br>
                            <ul>
                                <li>Explorer les différents principes et aspects de notre fonctionnement : corps/esprit,
                                    conscient/inconscient</li>
                                <li>Obtenir des clés, des astuces pour révéler votre plein potentiel, dans une démarche
                                    intégrative</li>
                                <li>Les thèmes abordés sont évolutifs, tout en étant adaptés aux feedbacks, besoins et
                                    demandes du groupe.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="programme_programme">
                        <p>Les ateliers permettent de cibler et de répondre aux besoins personnels de chacun, permettant
                            une prise en charge globale de la personne ; tout en profitant de la dynamique de groupe, la
                            parole peut se libérer également en toute bienveillance et dans la bonne ambiance.</p><br>
                        <p>L'apprentissage de différents outils : respiration, autohypnose, visualisation, méditation ;
                            permet d’acquérir autonomie dans le quotidien que ce soit au niveau de la gestion du stress,
                            des émotions, des pensées, de l’acceptation de la maladie, la gestion des douleurs, du
                            sommeil… </p>
                        <br>
                        <p>Ces ateliers permettent d’envisager, de construire son avenir plus sereinement et avec
                            confiance.​</p>
                        <p>Durant les ateliers, l’échange du groupe permet de répondre à la fois aux attentes
                            individuelles et personnelles des patients. Chaque groupe débute un atelier ensemble,
                            favorable à une cohésion propice à une ambiance chaleureuse.</p><br>
                        <p>Ils sont pris en charge financièrement par le centre Maurice Tubiana et les 3C (Centre de
                            Coordination en Cancérologie); les ateliers sont donc proposés gratuitement aux patients.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="mieux-etre"></div>
                </div>
            </div>
            <p>A l'issue de la formation des Ateliers Mieux-Etre, des ateliers complémentaires sont proposés
                ponctuellement, afin de perfectionner l’apprentissage et de maintenir une certaine dynamique (jusqu’à 8
                pers.).</p> 
            <p>Exemple de thématiques proposés : Vivre légère avec l’hormonothérapie, Estime de Soi, Apprivoisement des
                émotions, Anxiété et Angoisse, Approfondissement de l’Auto-hypnose, Troubles du Sommeil, Déterminer et
                atteindre ses objectifs, Développer sa créativité…</p><br>
        </div>
        <div class="fond"></div>
        <div class="fond2"></div>
        <div class="fond3"></div>
    </main>

   
    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>