<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/ateliers_professionnel.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Ateliers professionnel</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>


    <main>
        <div class="espace">
            <p>Espace professionnels</p>
        </div>
        <div class="liste_ateliers">
            <div class="ateliers">
                <div class="ateliers_un_image"></div>
                <p class="ateliers_titre">ATELIER D'AUTO-HYPNOSE EN 5 MODULES</p>
                <p>Cette formation s’adresse aux professionnels en lien avec du public et travaillant en équipe.</p>
                <p>Les thèmes principaux abordés seront autour de la psychoéducation, la confiance en soi, la gestion du
                    stress, des pensées, du comportement, des émotions et du sommeil.</p>
                <div class="btn_savoir">
                    <a href="#ateliers_hypnose_5modules">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers">
                <div class="ateliers_deux_image"></div>
                <p class="ateliers_titre">ATELIER D'AUTO-HYPNOSE EN 3 MODULES</p>
                <p>Cette formation s’adresse aux professionnels en lien avec du public et travaillant en équipe.</p>
                <p class="ateliers_deux_lastchild">Les thèmes principaux abordés seront autour de la psychoéducation, la
                    gestion du comportement, des
                    pensées, des émotions.</p>
                <div class="btn_savoir">
                    <a href="#ateliers_hypnose_3modules">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers">
                <div class="ateliers_trois_image"></div>
                <p class="ateliers_titre">ATELIER « APPRIVOISER SES ÉMOTIONS ET DÉVELOPPER LA CONFIANCE EN SOI »</p>
                <p>Cette formation s’adresse aux professionnels en lien avec du public et travaillant en équipe.</p>
                <p>Les thèmes principaux abordés seront autour de l’apprivoisement des émotions et la confiance en soi.
                </p>
                <div class="btn_savoir">
                    <a href="#ateliers_emotions_confiance_en_soi">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers">
                <div class="ateliers_quatre_image"></div>
                <p class="ateliers_titre">ATELIER DU MIEUX-ÊTRE</p>
                <p class="ateliers_quatre_lastchild">Ces ateliers sont destinés aux patients que ce soit dans le domaine
                    de la cancérologie, pour une
                    maladie chronique ou toute autre chose…</p>
                <div class="btn_savoir">
                    <a href="#ateliers_mieux_etre">En savoir plus ....</a>
                </div>
            </div>
            <div class="ateliers_citation">
                <div class="texte-or">
                    <img class="guillemet" src="../assets/images/taches/guillemet-gauche.png" alt="guillemet-gauche">
                    Tout groupe humain prend sa richesse dans la communication, l'entraide et la solidarité visant à un
                    but commun : l'épanouissement de chacun dans le respect des différences
                    <img class="guillemet" src="../assets/images/taches/guillemet-droite.png" alt="guillemet-droit">
                    <p class="texte-or"> Françoise Dolto</p>
                </div>
            </div>
        </div>
        <div id="ateliers_hypnose_5modules">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier d’auto-hypnose en 5 modules</h2>
            </div>
            <div class="deroulement">
                <div class="deroulement_bloc_vert">
                    <p>Groupe de 4 professionnels</p>
                    <p>5 modules de 2h chacun</p>
                    <p>125€ par module de 4 personnes</p>
                    <p>625€ l’atelier (125€ x 5 modules)</p>
                    <br>
                    <p>Alternance théorie & pratique</p>
                    <p>Support écrit & audio</p>
                </div>
                <div class="deroulement_desc">
                    <p class="deroulement_titre">Déroulement des ateliers d’auto-hypnose</p>
                    <p class="deroulement_ligne">Atelier de 4 professionnels</p>
                    <p>Un « petit » groupe de personnes est préférable, afin que chacun se sente le plus à l’aise
                        possible ; de plus, chaque groupe formé démarrera simultanément, ayant donc la même dynamique et
                        le même programme et contenu, ainsi, les professionnels évoluent ensemble de façon synchronisée
                        et en confiance.</p>
                    <br>
                    <p class="deroulement_ligne">5 modules de 2h. pour acquérir la méthode</p>
                    <p>5 modules permettent d’explorer les différents principes et aspects de l’auto-hypnose dans une
                        démarche intégrative, les thèmes abordés seront différents suivant la chronologie, tout en étant
                        adaptés aux feedbacks, besoins et demandes du groupe.</p>
                    <p>2h de séance collective durant laquelle, des connaissances théoriques et des exercices pratiques
                        seront apportées dans la bonne humeur ; des supports papiers et audio seront également transmis.
                        Durant l’atelier, l’échange du groupe permet d’apporter un dynamisme, un partage et de répondre
                        à la fois aux attentes individuelles et personnelles. </p>
                </div>
            </div>
            <div class="programme">
                <div class="programme_programme">
                    <p class="deroulement_titre">programme</p>
                    <ul>
                        <li>L’hypnose, concept de l’état modifié de conscience, du conscient et de l’inconscient</li>
                        <li>Respiration, cohérence cardiaque</li>
                        <li>Les 5 sens : VAKOG</li>
                        <li>Les ancrages ressources : calme, énergie, apaisement, motivation, confiance…</li>
                        <li>Apprentissage de l’auto-ancrage</li>
                        <li>Méditation : théorie et pratique</li>
                        <li>Modifier sa respiration en fonction de son activité, de son état de stress et de ses
                            émotions</li>
                        <li>Détente, relaxation, visualisation, imagination, suggestion</li>
                        <li>Gestion du stress, inconforts et communication</li>
                        <li>Développement de la compétence émotionnelle</li>
                        <li>Acquérir autonomie dans la gestion des inconforts physiques et émotionnels</li>
                        <li>Cycle ultradien (cycle naturel du cerveau) et intérêts</li>
                        <li>Etat de détente, régénérateur et récupérateur d’énergie</li>
                        <li>L’auto-hypnose, les suggestions</li>
                        <li>Développer la confiance en soi et la congruence</li>
                    </ul>
                    <p>Différents thèmes peuvent être davantage abordés suivant les besoins du groupe : sommeil,
                        anxiété,
                        confiance en soi, concentration, stress ou toute autre chose…
                        Un questionnaire préalable sur les attentes et besoins des salariés peut être réalisé afin de
                        cibler
                        les besoins et attentes particulières.</p>
                </div>
                <div class="programme_objectif">
                    <p class="deroulement_titre">Objectifs de l’atelier</p>
                    <p>En apprenant à communiquer avec soi-même et en utilisant des outils pertinents et efficaces pour
                        répondre à ses propres besoins, le professionnel développe adaptabilité, écoute, organisation et
                        communique de manière adaptée avec son entourage (collègues, public, usagers, patients…).</p>
                    <p>Ainsi, le professionnel active ses propres ressources avec confiance pour s’épanouir au travail.
                    </p>
                    <p class="deroulement_ligne">L’utilisation régulière des techniques apprises aidera à :</p>
                    <ul>
                        <li>Mieux affronter les évènements stressants.</li>
                        <li>Mieux apprivoiser les émotions.</li>
                        <li>Retrouver le calme et l’apaisement.</li>
                        <li>Être efficient et disponible.</li>
                    </ul>
                    <p class="deroulement_ligne">Les principales indications de cet atelier sont :</p>
                    <ul>
                        <li>La gestion du stress et des émotions lors de difficultés professionnelles ou personnelles
                            dans le quotidien.</li>
                        <li>La gestion du stress au travail.</li>
                    </ul>
                </div>
            </div>
            <p class="modules_titre">5 modules pour</p>
            <div class="modules">
                <div class="modules_bulle">Créer des auto-ancrages positifs de ressources (calme, motivation, confiance,
                    détente…)</div>
                <div class="modules_bulle">Obtenir des outils pour accéder au bien-être, et ainsi être motivé, confiant
                    et congruent</div>
                <div class="modules_bulle">Gérer ses émotions, ses pensées et son comportement dans son rôle en tant que
                    professionnel, mais aussi dans sa vie personnelle</div>
                <div class="modules_bulle">Régénérer ses énergies (sommeil, concentration)</div>
            </div>
        </div>
        <div id="ateliers_hypnose_3modules">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier d’auto-hypnose en 3 modules</h2>
            </div>
            <div class="deroulement">
                <div class="deroulement_bloc_vert">
                    <p>Groupe de 4 professionnels</p>
                    <p>3 modules de 2h chacun</p>
                    <p>125€ par module de 4 personnes</p>
                    <p>375€ l’atelier (125€ x 3 modules)</p>
                    <br>
                    <p>Alternance théorie & pratique</p>
                    <p>Support écrit & audio</p>
                </div>
                <div class="deroulement_desc">
                    <p class="deroulement_titre">Déroulement des ateliers</p>
                    <p class="deroulement_ligne">Atelier de 4 professionnels</p>
                    <p>Un « petit » groupe de personnes est préférable, afin que chacun se sente le plus à l’aise
                        possible ; de plus, chaque groupe formé démarrera simultanément, ayant donc la même dynamique et
                        le même programme et contenu, ainsi, les professionnels évoluent ensemble de façon synchronisée
                        et en confiance.</p>
                    <br>
                    <p class="deroulement_ligne">3 modules de 2h. pour découvrir et appliquer la méthode</p>
                    <p>3 modules permettent d’explorer les différents principes et aspects de l’auto-hypnose dans une
                        démarche intégrative..</p>
                    <p>2h de séance collective durant laquelle, des connaissances théoriques et des exercices pratiques
                        seront apportées dans la bonne humeur ; des supports papiers et audio seront également transmis.
                        Durant l’atelier, l’échange du groupe permet d’apporter un dynamisme, un partage et de répondre
                        à la fois aux attentes individuelles et personnelles.</p>
                </div>
            </div>
            <div class="programme">
                <div class="programme_programme">
                    <p class="deroulement_titre">programme</p>
                    <ul>
                        <li>L’hypnose, concept de l’état modifié de conscience, du conscient et de l’inconscient</li>
                        <li>Respiration, cohérence cardiaque</li>
                        <li>Les 5 sens : VAKOG</li>
                        <li>Les ancrages ressources : calme, énergie, apaisement, motivation, confiance…</li>
                        <li>Apprentissage de l’auto-ancrage</li>
                        <li>Visualisation, imagination, suggestion</li>
                        <li>Développement de la compétence émotionnelle</li>
                        <li>Acquérir autonomie dans la gestion des inconforts physiques et émotionnels</li>
                        <li>L’auto-hypnose, les suggestions</li>
                        <li>Développer la confiance en soi</li>
                    </ul>
                    <p>Un questionnaire préalable sur les attentes et besoins des salariés peut être réalisé afin de
                        cibler les besoins et attentes particulières.</p>
                </div>
                <div class="programme_objectif">
                    <p class="deroulement_titre">Objectifs de l’atelier</p>
                    <p>En apprenant à communiquer avec soi-même et en utilisant des outils pertinents et efficaces pour
                        répondre à ses propres besoins, le professionnel développe adaptabilité, écoute, organisation et
                        communique de manière adaptée avec son entourage (public, collègues…).</p>
                    <p>Ainsi, le professionnel active ses propres ressources avec confiance pour s’épanouir au travail.
                    </p>
                    <p class="deroulement_ligne">L’utilisation régulière des techniques apprises aidera à :</p>
                    <ul>
                        <li>Mieux affronter les évènements stressants.</li>
                        <li>Mieux gérer les émotions.</li>
                        <li>Retrouver le calme et l’apaisement.</li>
                    </ul>
                    <p class="deroulement_ligne">Les principales indications de cet atelier sont :</p>
                    <ul>
                        <li>La gestion du stress et des émotions lors de difficultés professionnelles ou personnelles
                            dans le quotidien.</li>
                        <li>La gestion du stress au travail.</li>
                    </ul>
                </div>
            </div>
            <p class="modules_titre">3 modules pour</p>
            <div class="modules">
                <div class="modules_bulle">Créer des auto-ancrages positifs de ressources (calme, motivation, confiance,
                    détente…)</div>
                <div class="modules_bulle">Obtenir des outils pour accéder au bien-être</div>
                <div class="modules_bulle">Gérer ses émotions, ses pensées et son comportement dans son rôle en tant que
                    professionnel, mais aussi dans sa vie personnelle</div>
            </div>
        </div>
        <div id="ateliers_emotions_confiance_en_soi">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier « Apprivoiser ses émotions et développer la confiance en soi »</h2>
            </div>
            <div class="deroulement">
                <div class="deroulement_bloc_vert">
                    <p>Groupe de 4 professionnels</p>
                    <p>3 modules de 2h chacun</p>
                    <p>125€ par module de 4 personnes</p>
                    <p>375€ l’atelier (125€ x 3 modules)</p>
                    <br>
                    <p>Alternance théorie & pratique</p>
                    <p>Support écrit & audio</p>
                </div>
                <div class="deroulement_desc">
                    <p class="deroulement_titre">Déroulement des ateliers</p>
                    <p class="deroulement_ligne">Atelier de 4 professionnels</p>
                    <p>Un « petit » groupe de personnes est préférable, afin que chacun se sente le plus à l’aise
                        possible ; de plus, chaque groupe formé démarrera simultanément, ayant donc la même dynamique et
                        le même programme et contenu, ainsi, les professionnels évoluent ensemble de façon synchronisée
                        et en confiance.</p>
                    <br>
                    <p class="deroulement_ligne">3 modules de 2h. pour découvrir et appliquer la méthode</p>
                    <p>3 modules permettent d’explorer les différents principes et aspects de l’apprivoisement des
                        émotions dans une démarche intégrative..</p>
                    <p>2h de séance collective durant laquelle, des connaissances théoriques et des exercices pratiques
                        seront apportées dans la bonne humeur ; des supports papiers et audio seront également transmis.
                        Durant l’atelier, l’échange du groupe permet d’apporter un dynamisme, un partage et de répondre
                        à la fois aux attentes individuelles et personnelles.</p>
                </div>
            </div>
            <div class="programme">
                <div class="programme_programme">
                    <p class="deroulement_titre">programme</p>
                    <ul>
                        <li>Les émotions</li>
                        <li>Les besoins correspondant aux émotions</li>
                        <li>Les actions à mettre en place pour répondre à ses besoins</li>
                        <li>Principe de la communication Non Violente, écoute de l’autre</li>
                        <li>Développement de la compétence émotionnelle, empathie</li>
                        <li>Acquérir des outils dans la gestion des inconforts émotionnels</li>
                        <li>Technique de Libération émotionnelle : EFT</li>
                        <li>Apprentissage de l’EFT</li>
                        <li>Processus de paix personnelle</li>
                        <li>Développer confiance en soi, congruence et assertivité</li>
                        <li>Sortir des ruminations, évacuer facilement les tensions et passer à autre chose, aller de
                            l’avant, résilience</li>
                    </ul>
                </div>
                <div class="programme_objectif">
                    <p class="deroulement_titre">Objectifs de l’atelier</p>
                    <p>En apprenant à apprivoiser ses émotions et en utilisant des outils pertinents et efficaces pour
                        répondre à ses propres besoins, le professionnel développe confiance en soi, écoute, sérénité et
                        disponibilité, tout en communiquant de manière adaptée avec ses interlocuteurs (public,
                        collègues…).</p>
                    <p>Ainsi, le professionnel active ses propres ressources avec confiance pour s’épanouir au travail.
                    </p>
                    <p class="deroulement_ligne">L’utilisation régulière des techniques apprises aidera à :</p>
                    <ul>
                        <li>Apprivoiser ses émotions.</li>
                        <li>Se positionner avec confiance et assertivité.</li>
                    </ul>
                    <p class="deroulement_ligne">Les principales indications de cet atelier sont :</p>
                    <ul>
                        <li>La gestion des émotions lors de difficultés professionnelles ou personnelles dans le
                            quotidien.</li>
                        <li>La gestion du stress au travail.</li>
                    </ul>
                </div>
            </div>
            <p class="modules_titre">3 modules pour</p>
            <div class="modules">
                <div class="modules_bulle">Obtenir les outils pour apprivoiser ses émotions</div>
                <div class="modules_bulle">Développer l’empathie</div>
                <div class="modules_bulle">Développer la confiance en soi, se positionner avec assertivité</div>
                <div class="modules_bulle">Répondre à ses besoins, tout en ciblant les besoins des autres, pour un
                    apaisement dans son rôle de professionnel, mais aussi dans sa vie personnelle</div>
            </div>
        </div>
        <div id="ateliers_mieux_etre">
            <div class="cadre-blanc">
                <h2 class="titre">Atelier du mieux-être</h2>
            </div>
            <div class="ateliers_mieux_etre_un">
                <div class="ateliers_mieux_etre_un_gauche">
                    <div class="ateliers_mieux_etre_un_bloc">
                        <div class="ateliers_mieux_etre_un_bloc_vert">
                            <p>Groupe de 4 personnes</p>
                            <p>5 modules de 2h chacun</p>
                            <br>
                            <p>Alternance théorie & pratique</p>
                            <p>Support écrit & audio</p>
                        </div>
                        <div class="ateliers_mieux_etre_un_bloc_vert_desc">
                            Vous pouvez proposer au sein de votre établissement des soins de support permettant aux
                            patients d’acquérir des outils personnels dans leur parcours de soin.
                        </div>
                    </div>
                    <div class="ateliers_mieux_etre_un_desc">
                        <p>Les ateliers permettent de cibler et de répondre aux besoins personnels de chacun, permettant
                            une prise en charge globale de la personne ; tout en profitant de la dynamique de groupe, la
                            parole peut se libérer également en toute bienveillance et dans la bonne ambiance.</p>
                        <p>L'apprentissage de différents outils : respiration, autohypnose, visualisation, méditation ;
                            permet d’acquérir autonomie dans le quotidien que ce soit au niveau de la gestion du stress,
                            des émotions, des pensées, de l’acceptation de la maladie, la gestion des douleurs, du
                            sommeil…</p>
                        <p>Ces ateliers permettent d’envisager, de construire son avenir plus sereinement et avec
                            confiance.</p>
                        <p>Durant les ateliers, l’échange du groupe permet de répondre à la fois aux attentes
                            individuelles et personnelles des patients. Chaque groupe débute un atelier ensemble,
                            favorable à une cohésion propice à une ambiance chaleureuse.</p>
                    </div>
                </div>
                <div class="ateliers_mieux_etre_un_droite">
                    <div class="ateliers_mieux_etre_un_image"></div>
                    <div class="ateliers_mieux_etre_un_image_desc">
                        <p>C’est avec plaisir que j'allie mes compétences en tant qu'ancienne professionnelle de Santé
                            (manipulatrice en radiothérapie) et thérapeute et coach dans le but :</p>
                        <ul>
                            <li>d'accompagner les personnes pour vivre mieux au quotidien</li>
                            <li>d’apporter un soutien supplémentaire aux traitements médicaux en cours (s’il y a)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ateliers_mieux_etre_module">
                <div class="ateliers_mieux_etre_module_bulle">
                    <p class="modules_titre">5 modules pour</p>
                    <div class="modules">
                        <div class="modules_bulle">Explorer les différents principes et aspects de notre fonctionnement:
                            corps/esprit, conscient/inconscient</div>
                        <div class="modules_bulle">Obtenir des clés, des astuces pour révéler votre plein potentiel,
                            dans une démarche intégrative</div>
                    </div>
                </div>
                <div class="ateliers_mieux_etre_module_desc">
                    <p>A l'issue de la formation des Ateliers Mieux-Etre, des ateliers complémentaires sont proposés
                        ponctuellement, afin de perfectionner l’apprentissage et de maintenir une certaine dynamique
                        (jusqu’à 8 pers.).</p>
                    <br>
                    <p>Exemple de thématiques proposés : Vivre légère avec l’hormonothérapie, Estime de Soi,
                        Apprivoisement des émotions, Anxiété et Angoisse, Approfondissement de l’Auto-hypnose, Troubles
                        du Sommeil, Déterminer et atteindre ses objectifs, Développer sa créativité…</p>
                    <p>Les thèmes abordés sont évolutifs, tout en étant adaptés aux feedbacks, besoins et demandes du
                        groupe</p>
                </div>
            </div>
        </div>

    </main>
    
    <div class="fond"></div>
    <div class="fond2"></div>
    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>