<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/bilan.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Bilan de Compétences</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>

    <main>
        <div class="espace">
            <p>Espace particuliers</p>
        </div>
        <div id="pourquoi">
            <div class="cadre-blanc">
                <h2 class="titre">Pourquoi ?</h2>
            </div>
            <div>
                <p>Le Bilan de Compétences proposé avec coaching PNL, Tests psychométriques et autres... est un outil
                    "tremplin" pour vous accompagner à choisir votre chemin en fonction de votre personnalité et vos
                    besoins, ainsi que vos aspirations et vos valeurs.</p>
            </div>
            <div class="pourquoi_img"></div>
            <div class="pourquoi_flex">
                <div class="pourquoi_gauche">
                    <p class="or texte_uppercase">Permettez-vous d'être épanoui <br> dans votre travail !</p>
                </div>
                <div class="pourquoi_droite">
                    <p>Si le chemin emprunté ne vous convient plus, si vous êtes perdu(e), que vous ne retrouvez pas
                        votre
                        route,
                        vous pouvez vous faire accompagner, vous pouvez changer votre direction et choisir une
                        destination
                        qui vous convient à vous...</p>
                </div>
            </div>
        </div>
        <div id="objectifs">
            <div class="cadre-blanc">
                <h2 class="titre">Les Objectifs</h2>
            </div>
            <p>Permettre d’analyser ses compétences professionnelles et personnelles ainsi que ses aptitudes et
                motivations afin de définir un projet professionnel et, le cas échéant, un projet de formation.</p><br>
            <p>Le bilan de compétences peut servir à :</p><br>
            <ul>
                <li>Analyser ses compétences personnelles et professionnelles, ses aptitudes et ses motivations</li>
                <li>Faire le point, à un instant précis, sur une situation professionnelle donnée, d’en identifier les
                    atouts et les faiblesses, en lien avec le projet professionnel envisagé</li>
                <li>Définir son projet professionnel et, le cas échéant, un projet de formation</li>
                <li>Utiliser ses atouts comme un instrument de négociation pour un emploi, une formation ou une
                    évolution de carrière.</li>
            </ul>
        </div>
        <div id="pourqui">
            <div class="cadre-blanc">
                <h2 class="titre">Pour Qui ?</h2>
            </div>
            <ul>
                <li>Les salariés du secteur privé</li><br>
                <li>Les demandeurs d’emploi : la demande doit être faite auprès de Pôle emploi, de l’APEC ou de Cap
                    emploi</li><br>
                <li>Les salariés du secteur public (fonctionnaires, agents non titulaires, etc.) textes spécifique mais
                    dans des conditions similaires aux salariés : pour plus d’infos, cliquez <a
                        href=" https://www.service-public.fr/particuliers/vosdroits/F3027#:~:text=Le%20bilan%20de%20comp%C3%A9tence%20peut,charge%20financi%C3%A8re%20de%20la%20prestation."
                        target="_blank">ici</a>.
                </li>
            </ul>
        </div>
        <div id="mise_en_place">
            <div class="cadre-blanc">
                <h2 class="titre">Mise en place</h2>
            </div>
            <div class="mise_en_place_block_gris">
                <p>Depuis le 2 Mai 2024, chaque bénéficiaire du CPF doit s'acquitter d'une participation financière de 100 euros, en cas de mobilisation de ses droits CPF, il existe cependant des exceptions.
                    </p>
            </div>
            <div class="btn_savoir">
                <a href="https://travail-emploi.gouv.fr/actualites/l-actualite-du-ministere/article/compte-personnel-de-formation-cpf-nouvelles-modalites-de-mobilisation-des?mc_cid=859e0c9ee4&mc_eid=fccf518893"
                    target="_blank">En
                    savoir plus ....</a>
            </div>
            <div class="mise_en_place_block_gris">
                <p class="texte_uppercase">Il peut être demandé par un salarié :</p><br>
                <ul>
                    <li>Lorsque le salarié mobilise son Compte Personnel de Formation (CPF) pour un bilan réalisé hors
                        temps de travail, l’employeur n’a pas à être informé. </li>
                    <li>Lorsque le salarié mobilise son CPF pour un bilan en tout ou partie, pendant le temps de
                        travail, il doit demander l’accord préalable de l’employeur selon les règles propres au compte
                        personnel de formation.</li>
                </ul>
            </div>
            <div class="mise_en_place_block_gris">
                <p class="texte_uppercase">Il peut être demandé par l’employeur pour un de ses salariés</p>
                <p>dans le cadre du plan de développement des compétences ou d’un congé de reclassement.</p>
                <p>Dans ce cas :</p>
                <br>
                <ul>
                    <li>Le bilan de compétences ne peut être réalisé qu’avec le consentement du salarié.</li>
                    <li>Il fait l’objet d’une convention tripartite signée par le salarié, l’employeur et l’organisme
                        prestataire de bilan.</li>
                    <li>Le salarié dispose d’un délai de 10 jours pour faire connaître son acceptation en restituant la
                        convention qu’il aura signée. L’absence de réponse du salarié au terme de ce délai vaut refus.
                        Ce refus ne constitue ni une faute ni un motif de licenciement.</li>
                    <li>Lorsque le bilan est réalisé sur le temps de travail, il est assimilé à l’exécution normale du
                        contrat de travail. Le coût du bilan est à la charge de l’employeur, sauf dans les cas où le CPF
                        est mobilisé. Il peut être préconisé à l’occasion d’un conseil en évolution professionnelle
                        (CEP)</li>
                </ul>
            </div>
            <div class="btn_savoir">
                <a href="https://travail-emploi.gouv.fr/formation-professionnelle/droit-a-la-formation-et-orientation-professionnelle/bilan-competences"
                    target="_blank">En
                    savoir plus ....</a>
            </div>
        </div>
        <div class="fond_vertical">
            <div class="bilan_competences"></div>
            <p class="texte_uppercase texte_underline">Le Bilan de compétences, c'est 3 possibilités :</p><br>
            <ul>
                <li>une reconversion professionnelle</li>
                <li>une évolution professionnelle</li>
                <li>une vérification et aide à l'élaboration d'un projet professionnel</li>
            </ul><br>
            <div class="btn_orange">
                <a href="https://competences-pour-tous.fr/formations/bilan-de-competence/" target="_blank">
                    Lien organisme de formation
                </a>
            </div>
            <div class="center">
                <a href="https://www.heloisehypnose.com/_files/ugd/f7533e_c47d4504232a46de8a7deb001c8320b0.pdf" class="texte-or texte_uppercase texte_underline">pour en savoir plus</a>
                <p class="center marg-top or">Vous pouvez m'appeler si vous souhaitez plus de renseignements, et si vous êtes intéressé, nous pourrons fixer un rdv gratuit pour un entretien d'1h, <br> celui-ci permettra de cibler vos besoins et vos envies…</p><br>
                <div class="btn_orange">
                    <p class="texte_uppercase">appeler</p>
                </div>
            </div>
            <div class="potential"></div>
            <p class="texte-or center">Construisez votre projet professionnel personnel...</p>
            <p class="marg-top texte-or center">Alors, passez à l'action !</p>
        </div>  
        <div class="fond"></div>
    </main>
    
    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>