<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/espace_professionnels.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Espace professionnels</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>

    <div class="container_espace">
        <div class="titre1">COACHING PROFESSIONNEL INDIVIDUEL</div>
        <div class="texte1">
            <p>Se tourner vers la solution, activer vos ressources à un autre niveau.
                Un coaching professionnel peut être utile, sur une période définie, lorsque des difficultés sont
                rencontrées sur une prise de fonction, sur des situations relationnelles, pour débloquer une
                situation, être plus efficace, franchir un palier…
            </p>
            <br>
            <p>Le coaché renforce son potentiel, sa motivation et ses ressources, et ainsi, sa capacité à mobiliser
                les bonnes ressources en fonction de l'objectif visé.</p>
            <div class="btn_savoir">
                <a href="coaching.html">En savoir plus ....</a>
            </div>
        </div>
        <div class="titre2">ATELIERS</div>
        <div class="texte2">
            <p>Dans une démarche de développement personnel et professionnel, la personne acquiert des outils
                efficaces et pertinents suivant les besoins : confiance en soi, gestion du stress, des émotions, des
                pensées, sommeil, concentration…
            </p>
            <br>
            <p>Dans une démarche intégrative, les ateliers se déroulent en 3 à 5 modules de 2h chacun.</p>
            <br>
            <p>Des connaissances théoriques et des exercices pratiques seront apportées dans la bonne humeur ;
                des supports papiers et audio seront également transmis. Durant l’atelier, l’échange du groupe
                permet d’apporter un dynamisme, un partage et de répondre à la fois aux attentes individuelles et
                personnelles.</p>
            <div class="btn_savoir">
                <a href="ateliers_professionnel.html">En savoir plus ....</a>
            </div>

        </div>
        <div class="titre3">FORMATIONS</div>
        <div class="texte3">
            <p>Apprendre, échanger, développer ses compétences comportementales et émotionnelles, techniques
                également permet d’évoluer de manière apaisée.
            </p>
            <br>
            <p>S’approprier de manière individuelle les savoirs et savoir-faire pour être davantage soi-même et se
                positionner avec un savoir-être cohérent à votre évolution professionnelle et à la personne que vous
                êtes, est un enjeu majeur dans ce monde pour aller vers la paix collective et l’épanouissement
                professionnel.
            </p>
            <br>
            <p>"Tout groupe humain prend sa richesse dans la communication, l'entraide et la solidarité visant à
                un but commun : l'épanouissement de chacun dans le respect des différences" - Françoise Dolto</p>
            <div class="btn_savoir">
                <a href="formation.html">En savoir plus ....</a>
            </div>
        </div>
        <div class="fleche1"></div>
        <div class="fleche2"></div>
        <div class="fleche3"></div>
        <div class="espace">
            <p>Espace professionnels</p>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>