<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/formation.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Formations</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>

    <main>
        <div class="espace">
            <p>Espace professionnels</p>
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">Communication et relation de soin et / ou en équipe</h2>
        </div>
        <p>Cette formation s’adresse aux professionnels en lien avec du public (patient, apprenant ou usager) <br> et/ou
            travaillant en équipe pouvant rencontrer des situations génératrices de stress.</p><br>
        <p>Le contenu et les exercices sont adaptés selon le secteur d’activité dans lequel la formation est
            <br>dispensée
            (service, médical, social, enseignement …).
        </p><br><br><br>
        <div class="contexte">
            <p class="texte_uppercase texte-vert">Contexte</p><br>
            <p>Aujourd’hui, les professionnels sont amenés à communiquer avec différents intervenants,
                que ce soit au
                sein de l’institution ou avec différents intervenants extérieurs ; d’où l’importance de savoir
                communiquer pour développer l’efficacité et le bien-être des professionnels.</p><br>
            <p>Dans le monde professionnel, il est essentiel de savoir communiquer avec confiance et assurance, renvoyer
                une image crédible, gérer les désaccords avec diplomatie, décrypter son interlocuteur et adapter sa
                communication tout en prenant du recul dans des situations internes ou externes à l’organisation.</p>
            <br>
            <p>De plus, le stress représente une part majoritaire des plaintes émises par les professionnels faisant
                état d’une souffrance dans leur travail. Effectivement, la dimension relationnelle est un des aspects
                essentiels et expose parfois les intervenants à un inconfort psychologique pouvant, à long terme,
                occasionner des phénomènes de fatigue ou d’épuisement professionnel. En effet, les difficultés de
                communication, la gestion de situations d’urgence, la confrontation à la souffrance, l’obligation
                d’adaptabilité, et éventuellement le morcellement et l’irrégularité des temps travaillés… sont autant de
                situations pouvant générer du stress. En comprendre les mécanismes et les enjeux pour transformer ce
                risque potentiel en un outil d’optimisation des compétences et des ressources du personnel, représente
                alors un levier incontournable pour instaurer un climat propice au bienêtre des salariés tout en
                satisfaisant aux exigences stratégiques de l’institution.</p><br>
            <ul>
                <li>Comment être un bon communiquant ?</li>
                <li>Comment garder la juste distance émotionnelle pour un bon rapport avec l’autre, tout en étant
                    propice à mon bien-être ?</li>
                <li>Comment gérer le stress et ainsi trouver un équilibre adapté ?</li>
                <li>Comment satisfaire mes valeurs et donner du sens à mon travail pour activer mon énergie et ma
                    motivation au travail ? </li>
                <li>Comment développer confiance en soi et assertivité ?</li>
            </ul><br>
            <p>Ces thèmes seront abordés afin d’augmenter les chances de progression et d’épanouissement professionnel
                de chacun au sein de l’institution, amenant chaque professionnel à mobiliser ses ressources et ses
                atouts personnels afin de revaloriser son image et agir avec plus d’assurance, pour un travail de
                qualité et une bonne cohésion d’équipe tout en s’affirmant avec bienveillance et respect de chacun.</p>
        </div>
        <div class="contexte">
            <p class="texte_uppercase texte-vert">Objectifs de la formation </p><br>
            <p>Mettre en place une communication adaptée, instaurer une relation de confiance.</p><br>
            <p>Créer une cohésion d’équipe, favorable à une communication efficace dans le cadre du travail.</p><br>
            <p>Développer ses compétences comportementales transversales /soft skills : empathie, collaboration,
                confiance, curiosité, esprit critique, motivation, gestion du temps…</p><br>
            <p>Développer les ressources des professionnels et permettre de répondre par eux-mêmes à leurs besoins,
                favorable à la cohésion d’équipe et à une bonne prise en charge de l’accompagné</p>
        </div>
        <div class="final">
            <div class="final_flex">
                <div class="bulle" style="padding-left: 30px;">Coût (net taxes)</div>
                <ul>
                    <li>Me contacter</li>
                </ul>
            </div>
            <div class="final_flex">
                <div class="bulle">D’autres formations abordant des thématiques ciblées peuvent
                    être animées, telles que</div>
                <ul>
                    <li>Développer l’Intelligence Emotionnelle au quotidien</li>
                    <li>Auto-hypnose et prévention du Burn Out</li>
                    <li>Mieux communiquer avec la PNL</li>
                    <li>Communication et accueil de la personne</li>
                    <li>Exercer la mission de formateurs en entreprise</li>
                </ul>
            </div>
        </div>
        <div class="fond_vertical">
            <p class="texte_uppercase texte-vert">Les plus de la formation</p><br>
            <p>Elle favorise l’interactivité entre les participants et une approche pédagogique en fonction des
                apprenants. Les apports théoriques parsemant le programme sont complétés de mises en situation,
                témoignages et exercices pratiques.</p>
            <br>
            <p>La formation intègre des outils de la PNL (Programmation Neuro-Linguistique), qui traite des
                habitudes de pensées, d’action, de ressenti et de communication ; c’est un outil d’excellence
                humaine, tant au niveau personnel que professionnel, visant à l’intégration d’une vision
                positive et constructive de l’homme.</p><br><br>
            <div class="btn_orange">
                <a href="../assets/fiche/fiche.pdf" target="_blank">
                    telecharger la fiche
                </a>
            </div>
            <p class="texte-vert center">Pour plus d’informations,<br> contactez-moi.</p>
            <p class="texte-vert center">Le programme sera défini en fonction des besoins de l’institution pour répondre
                au plus près de ce qui
                est
                utile d’acquérir comme savoirs, <br> savoir-faire et savoir être.</p><br>
            <p class="texte-vert center" style="margin-bottom: 100px;">Avec plaisir, d’accompagner au changement et à
                transmettre.</p>
            <p class="texte_uppercase texte-vert">Démarche pédagogique</p><br>
            <ul>
                <li>Une méthode pédagogique interactive alliant théorie et exercices pratiques</li>
                <li>Une animation favorisant la dynamique de groupe et l’implication des stagiaires dans leur
                    parcours de formation (échanges, pratique d’outils personnels, ateliers)</li>
                <li>Une pédagogie axée sur le développement des savoirs et savoir-faire au travers de
                    l’apprentissage (expérimentations sur la base de situations réelles et en rapport avec le
                    métier)</li>
                <li>Disponibilité et proximité du formateur</li>
            </ul>
            <p class="orange">Finançable
                pour les entreprises par OPCO</p><br><br>
            <p class="orange">Formation
                proposée en partenariat avec une société de portage certifié QUALIOPI</p>
        </div>
        <div class="fond"></div>
    </main>

    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>