<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/Neurofeedback.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Neurofeedback</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>

    <main>
        <div class="espace">
            <p>Espace Particuliers</p>
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">Le Neurofeedback : une meilleure santé grâce à un cerveau mieux régulé</h2>
        </div>
        <div class="contexte">
            <p class="texte-or">Le Neurofeedback dynamique NeurOptimal® : une solution thérapeutique efficace</p><br>
            <p>La technique du Neurofeedback dynamique entraîne des améliorations remarquables sur un ensemble de problématiques.</p><br>
            <p>Les résultats observés par les neuroscientifiques, par les utilisateurs et par leur entourage sont impressionnants et concernent des troubles, des pathologies et des problématiques multiples : trouble de l’attention, des apprentissages, de la graphie, troubles “dys”, du sommeil, stress, phobie, angoisse, traumatismes, tocs, démangeaisons, digestion, systèmes immunitaire et hormonal, douleurs, addictions (alcool, cigarettes, drogues, nourriture). Il agit également sur le manque de confiance en soi, l’hyperactivité, l’hypersensibilité, l’émotivité, le burn out, la dépression...</p><br>
            <p>L’entraînement Neurofeedback apprend à votre cerveau à fonctionner plus efficacement et confortablement, tout en créant flexibilité et résilience. Les effets sont durables; et, naturellement, en optimisant les fonctions de votre cerveau, vous optimisez aussi votre fonctionnement au quotidien.</p>
        </div>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/qg1BfBMl0SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="therapies_application">
            <div class="application">
                <div class="img"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES COGNITIFS</p>
                    <ul>
                        <li>Difficultés de mémorisation, de concentration, d’apprentissage, du langage</li>
                        <li>Désorganisation de la pensée</li>
                        <li>Troubles DYS (Dyslexie / Dyspraxie / Dysphasie / Dyscalculie / Dysorthographie…)</li>
                        <li>Trouble du Déficit d’Attention avec ou sans Hyperactivité (TDAH)</li>
                    </ul>
                </div>
            </div>
            <div class="application">
                <div class="img2"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES DU COMPORTEMENT</p>
                    <ul>
                        <li>Colères, irritabilité, impulsivité</li>
                        <li>Hyperactivité</li>
                        <li>Agressivité, violence verbale et/ou physique</li>
                        <li>Burn-out</li>
                        <li>Addictions</li>
                        <li>Trouble du sommeil, insomnies</li>
                        <li>Troubles Obsessionnels Compulsifs (TOC)</li>
                        <li>Troubles de la mémoire / Concentration</li>
                        <li>Troubles envahissants du développement (TED)</li>
                        <li>Troubles du Comportement Alimentaire (TCA)</li>
                    </ul>
                </div>
            </div>
            <div class="application">
                <div class="img3"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES DE L’HUMEUR</p>
                    <ul>
                        <li>Angoisse, anxiété, stress</li>
                        <li>Phobies, évitements phobiques</li>
                        <li>Dépression, Burn-out</li>
                        <li>Manque de confiance en soi</li>
                        <li>Crises de panique</li>
                        <li>Traumatismes, chocs psychologiques</li>
                        <li>État de Stress Post-Traumatique (ESPT)</li>
                    </ul>
                </div>
            </div>
            <div class="application">
                <div class="img4"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES PHYSIOLOGIQUES</p>
                    <ul>
                        <li>Épilepsie</li>
                        <li>Spasmophilie</li>
                        <li>Allergies & Asthme</li>
                        <li>Migraines</li>
                        <li>Problèmes de peau, eczéma et psoriasis</li>
                        <li>Douleurs et fatigues chroniques</li>
                        <li>Acouphènes, vertiges</li>
                        <li>Syndrome des jambes sans repos</li>
                        <li>Bouffées de chaleur</li>
                        <li>Énurésie</li>
                    </ul>
                </div>
            </div>
            <div class="application center">
                <div class="img5"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES CÉRÉBRAUX</p>
                    <ul>
                        <li>Accident Vasculaire Cérébral (AVC)</li>
                        <li>Douleurs fantômes</li>
                        <li>Parkinson</li>
                        <li>Alzheimer</li>
                        <li>Autisme – Syndrome d’Asperger</li>
                        <li>Dystrophie</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contexte">
            <p class="texte-or">Le Neurofeedback est indiqué pour les problèmes de déséquilibre du système nerveux.</p><br>
                <p>Après quelques séances, de nombreuses personnes constatent un soulagement de leurs symptômes, qu’ils soient d’ordre physiques, mentaux ou émotionnels.
                </p><br>
                    <p>De plus, certains bénéfices se font ressentir au fil des séances, tels que :</p><br>

                <ul>
                    <li>Augmentation de la conscience de soi</li>
                    <li>Meilleur équilibre physiologique au repos</li>
                    <li>Meilleur sommeil</li>
                    <li>Amélioration de la fonction immunitaire</li>
                    <li>Réduction des symptômes reliés au stress</li>
                    <li>Réduction des symptômes de troubles fonctionnels</li>
                </ul>
                
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">Applications et bienfaits au cas par cas </h2>
        </div>
        <div class="contexte">
            <ul>
                <li><b>Gestion des troubles psychologiques</b> : le Neurofeedback peut vous offrir une nouvelle approche dans le traitement de troubles psychologiques, tels que la dépression, les troubles anxieux, les troubles alimentaires etc. En entraînant votre cerveau, vous lui donnez la capacité de s’autoréguler ce qui diminue les symptômes. Cette méthode non invasive représente une alternative ou un complément précieux aux traitements médicamenteux, avec l’avantage d’être dépourvue d’effets secondaires indésirables.</li><br><br>
                <li><b>Amélioration de la concentration et de l’attention</b> : c’est une solution efficace si vous luttez contre des problèmes de concentration ou d’attention, comme le TDAH. En vous entraînant à stabiliser et à optimiser vos ondes cérébrales, vous pouvez améliorer significativement votre capacité à vous concentrer et à rester attentif sur de plus longues périodes. Cette méthode vous aide à renforcer votre contrôle cognitif, ce qui se traduit par de meilleures performances dans vos activités quotidiennes et professionnelles.</li><br><br>
                <li><b>Réduction du stress et de l’anxiété</b> : si vous êtes souvent confronté au stress ou à l’anxiété, le Neurofeedback peut vous apporter un soulagement significatif. Cette technique vous aide à avoir un esprit plus calme et à réguler vos réactions émotionnelles en favorisant des états cérébraux plus détendus. En développant la capacité à s’autoréguler, votre cerveau maintient un état de calme et de sérénité, réduisant ainsi les symptômes d’anxiété, la gestion des pensées envahissantes et améliorant votre bien-être général.</li><br><br>
                <li><b>Amélioration du sommeil</b> : une clé pour résoudre vos problèmes de sommeil, y compris l’insomnie ou les réveils nocturnes. En vous entraînant à moduler vos ondes cérébrales, vous favorisez un état propice à un sommeil profond et réparateur. Il peut vous aider à réguler vos cycles de sommeil, vous permettant de vous endormir plus facilement et de bénéficier d’un sommeil de meilleure qualité.</li><br><br>
                <li><b>Amélioration des performances cognitives et sportives</b> : le Neurofeedback offre également la possibilité d’améliorer vos performances cognitives, que ce soit pour les études, le travail ou les activités quotidiennes. En optimisant l’activité de vos ondes cérébrales, vous pouvez augmenter votre capacité de mémorisation, accélérer votre vitesse de traitement de l’information et renforcer votre créativité. Cette méthode vous aide à exploiter pleinement votre potentiel intellectuel et sportif, vous rendant plus efficace dans diverses situations.</li><br><br>
                <li><b>Gestion de la douleur chronique ou fibromyalgie</b> : pour ceux qui souffrent de douleur chronique ou de fibromyalgie, le Neurofeedback peut offrir une voie de soulagement en apprenant à votre cerveau à réduire la perception de la douleur. Cette technique vous aide à modifier les schémas d’activité cérébrale associés à la douleur, contribuant ainsi à diminuer son intensité et à améliorer votre qualité de vie. En diminuant l’intensité de votre réponse à la douleur, vous pouvez retrouver un confort quotidien et une plus grande autonomie.</li>
            </ul>
                
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">DEROULEMENT</h2>
        </div>
        <div class="contexte">
            <p class="texte-or">Comment ça marche ?</p><br>
                <p>
                    NeurOptimal® est une technologie avancée issue des neurosciences qui offre, au cerveau, un entraînement qui lui permet d’optimiser son fonctionnement. NeurOptimal® communique directement avec votre système nerveux central sans lui donner de directive.
                </p><br>
                <p>Les docteurs psychologues cliniciens Valdeane W. Brown et Susan Brown ont mis au point un algorithme puissant qui a donné naissance à cette méthode de neurofeedback unique et innovante, celle du Dynamical Neurofeedback™. Il consiste en un entraînement pour le cerveau ; ce n’est pas un traitement médical et il ne requiert aucun diagnostic.</p><br>
               <p>Cette technique, apparue en 1997 aux États-Unis, est arrivée en France depuis 2004.</p><br>
                <p>Grâce aux mesures d’ondes cérébrales avec l’EEG (électro-encéphalogramme) et à un retour d’informations rendu par un logiciel, le cerveau se réorganise afin d’améliorer ses performances en quelques séances seulement. Aucune information et aucun courant électrique ne sont envoyés vers votre cerveau. Ces capteurs permettent de mesurer votre activité neuronale et de détecter la présence de très grandes variations, qui indiquent que la régulation entre excitation et inhibition n’est pas optimisée. Au moment où ces variations sont détectées, le système provoque une très brève interruption du son. C’est ce simple mécanisme qui alerte votre cerveau sur son propre fonctionnement et l’aide à se réorganiser.</p><br>
                <p>Ce n’est ni un ordre, ni une stimulation. Votre cerveau prend simplement en compte cette information, sans aucun effort de concentration ou de contrôle exigé de votre part. Vous n’avez pas non plus à revivre des événements passés douloureux. Au fil du temps, le cerveau prend conscience des instabilités et travaille dessus. Au lieu de simplement les subir, il développe une meilleure résilience et une flexibilité accrue.</p><br>
                <p>Le Neurofeedback n’est pas invasif, il est indolore, il n’émet pas d’électricité et ne base ses effets sur aucun type de médicament.
                </p>
        </div>
        <div class="contexte">
                <p class="texte-or">Comment ça se passe ?</p><br>
                <p>Une séance dure environ une heure : un échange préalable sur les changements constatés, la pose des électrodes, la session proprement dite (33 minutes) puis la fin de la séance. </p><br>
                <p>Lors de la première séance, nous échangerons pour connaître vos attentes et vous présenter les principes de la méthode. Ensuite, confortablement installé.e, vous choisissez de regarder un film ou d’écouter de la musique. </p><br>
                <p>2 capteurs seront disposés sur votre cuir chevelu et 3 autres sur vos oreilles, puis la session est lancée.</p><br>
                <p>Vous n’aurez rien à faire pendant cette session de 33 minutes, si ce n’est vous laisser porter par la musique ou par le film, ou bien dessiner ou faire un jeu. Les très jeunes enfants peuvent donc bénéficier de cet entraînement cérébral, ainsi que les personnes incapables de maintenir leur attention ou de communiquer.</p>
        </div>
        <div class="contexte">
            <p><span class="texte-or">Le Neurofeedback Dynamique NeurOptimal™</span> s’appuie sur le principe de la plasticité cérébrale pour retrouver flexibilité et résilience. Pendant la session, un ordinateur relié à un encodeur mesure l’activité cérébrale électrique grâce aux capteurs, et génère des micros interruptions dans la diffusion de la musique ou du film. Le cerveau ainsi informé sur son état, va pouvoir s’auto-réguler.</p>
        </div>
        <div class="contexte">
            <p>Le cerveau est en évolution permanente et intrinsèquement orienté vers l’auto-régulation générale, ainsi, le neurofeedback dynamique, sollicite la neuroplasticité du cerveau pour aller vers un système en santé de plus en plus adapté. Le cerveau est la structure DYNAMIQUE la plus complexe de l’univers.</p><br>
            <p>Un système en santé repose sur 	Flexibilité et Résilience
                Le système de santé comprend le corps physique, émotionnel et mental.
                Un système flexible est capable de réagir rapidement aux changements environnementaux et aux turbulences.
                Un système résilient est capable de s’adapter aux changements environnementaux en constante évolution et sans souci.
                Flexibilité et résilience se développent ainsi à différents niveaux. Le neurofeedback dynamique est considéré comme une méthode douce, non invasive et sans douleur permettant de rétablir un équilibre efficace au sein du système nerveux central. </p><br>
            <p>Le neurofeedback dynamique Neuroptimal® fournit une notification au cerveau lui indiquant de s’autoréguler du mieux qu’il peut, selon ses besoins, ses capacités et ses limites. Ce « feedback » permet au cerveau de recouvrer plus facilement sa résilience et flexibilité intrinsèques.
                Neuroptimal® permet l’équilibre optimal personnalisé déterminé pour chaque cerveau.</p>
        </div>
        <div class="fond_vertical">
            <p class="texte-or">Combien de séances sont nécessaires ?</p><br>
            <p>On ne peut déterminer le nombre de séances à l’avance car chaque cerveau possède un niveau de plasticité particulier, et donc fonctionne différemment. Le plus souvent, les premiers changements sont constatés après 5 à 6 séances, parfois moins. On observe que les effets deviennent durables dans le temps après 10 à 12 séances.</p><br>
            <p>En règle générale, les clients font entre 10 à 20 séances et sont satisfaits des changements.</p><br>
            <p>Pour les problématiques plus complexes comme le TDAH, le stress post-traumatique, le déclin cognitif lié à l’âge, les douleurs chroniques ou les maladies dégénératives, il faut souvent compter 20 séances et plus, dépendant de l’histoire de chacun et de ses attentes.</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p class="texte-or" style="text-align: left;">Quelle est la fréquence des séances de Neuroptimal ?</p><br>
            <p>Il est également recommandé de faire au départ quelques séances régulières et rapprochées pour ressentir les premiers changements (1 à 2 par semaine), puis chacun sentira à quelle fréquence il souhaite faire ses séances.</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p class="texte-or" style="text-align: left;">Quand arrêter l’entraînement avec Neuroptimal ?</p><br>
            <p>C’est la personne qui décide : il peut arrêter quand il est satisfait des changements qui se sont opérés, ou bien simplement faire une pause et reprendre quand il le souhaite.</p>
            <img src="../assets/images/neurofeedback/deroulement.jpg" alt="">
        </div>
        <div class="fond"></div>
    </main>
    
    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>