<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/qui-suis-je.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Qui suis je ?</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>

    <div class="main">
        <div class="parcours">
            <div class="parcours_image"></div>
            <div class="parcours_desc">
                <div class="cadre-blanc">
                    <h2 class="titre">Mon parcours</h2>
                </div>
                <p>Pour faire connaissance ... Je m'appelle <strong>Héloïse RIBOT</strong></p>
                <p>Je suis issue du monde médical, dans lequel j’ai exercé durant 16 ans en accompagnement auprès
                    des
                    personnes en cancérologie, en tant que technicienne (manipulatrice radio).
                    Observant que pour certaines personnes, le parcours de soin et la guérison étaient plus
                    “faciles”,
                    j’ai souhaité d’avantage explorer cette facette passionante de l’être humain et contribuer à
                    accompagner chacun dans ce sens.</p>
                <p>C’est ainsi que j’en suis venue à développer ma vocation “de contribuer à aider les autres”, en
                    me
                    tournant naturellement vers un accompagnement plus global de la personne.</p>

            </div>
        </div>
        <p class="parcours_suite">Je me suis ainsi formée en 2018 à l’hypnose et à la PNL. <br>
            J’ai ouvert mon cabinet dans la foulée, ce qui m’a ensuite amené vers l’EMDR et l’EFT, des outils
            thérapeutiques naturels et puissants permettant de se libérer de ce qui ne nous appartient pas: des
            transmissions conscientes ou inconscientes inadaptées pour soi, des anciennes générations ou de la société
            (pensées et croyances limitantes, vécus, blocages émotionnels...) et ainsi permettre au corps, aux émotions
            et pensées de se libérer dans le bon sens, pour s’épanouir en développant toutes ses capacitées et
            ressources personnelles. <br>
            De + en + passionnée et curieuse d'observer le pouvoir de l'être humain et sa neuroplasticité, j'ai découvert le neurofeedback.
        </p>
        <div class="formations">
            <div class="texte-or">Formations complémentaires :</div>
            <p><span class="date">2018</span> Thérapie Brève des Troubles du comportement alimentaire</p>
            <p><span class="date">2018-2019</span> Praticien + Maître Praticien en Hypnose et PNL</p>
            <p><span class="date">2019</span> Formateur professionnel</p>
            <p><span class="date">2019</span> Thérapie Brève des Troubles Anxieux</p>
            <p><span class="date">2019</span> Coaching Pédagogique</p>
            <p><span class="date">2019</span> Hypnose enfants et adolescents</p>
            <p><span class="date">2021-2022</span> Bilan de compétences</p>
            <p><span class="date">2021-2022</span> Troubles psychopathologiques et EMDR</p>
            <p><span class="date">2022</span> Gestion des Conflits</p>
            <p><span class="date">2022</span> EFT (Technique psycho-corporelle de libération de charge émotionnelle
                désagréable)</p>
            <p><span class="date">2023</span> Stress et Burn Out</p>
            <p><span class="date">2023</span> hypnose et deuil</p>
            <p><span class="date">2023</span> Hypnose & Sagesse universelle</p>
            <p><span class="date">2024</span> Hypnose & Cancer</p>
            <p><span class="date">2024</span> Neurofeedback</p>
            <p><span class="date">2024</span> Hypnose & Traumatisme</p>
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">Méthode utilisées</h2>
        </div>
        <div class="methode">
            <p class="date">THÉRAPIES BRÈVES :</p>
            <p>Hypnose ericksonienne, PNL, EMDR, EFT</p>
        </div>
        <div class="methode2">
            <p class="date">COACHING :</p>
            <p>Types de personnalités avec les outils de tests psychométriques :
                Central Test, Process Com Model, PNL, Autohypnose, EFT, respiration
            </p>
        </div>
        <div class="fond_vertical">
            <img class="guillemet" src="../assets/images/taches/guillemet-gauche.png" alt="guillemet-gauche">
            J'ai à cœur de permettre à chacun de libérer son plein potentiel, et d'activer
            ses propres ressources.
            <br>
            <br>
            Le cours de la Vie m'a mené sur ce chemin... Aujourd’hui, je suis thérapeute, coach et formatrice pour
            accompagner chacun à un équilibre dans ces différents domaines de vie (perso, pro, couple, social et
            familial). j'accompagne jeunes enfants, enfants, ados, jeunes adultes et plus expérimentés... Les gens
            et la vie me passionnent…
            <br>
            <br>
            J’aime la Vie, j’aime les gens, petits et grands, et j’aspire à ce que chacun libère son plein
            potentiel, parce que nous sommes tous différents et tous uniques, il est bienvenu que chacun soi sa
            propre version, la meilleure version de soi-même…
            <br>
            <br>
            Ainsi, ma mission est de permettre à chacun de pouvoir s'exprimer tel qu'il est réellement, d'oser être
            soi-même, de se libérer des souffrances passées, d'apprendre à être autonome, de se réaliser soi-même et
            de réaliser ses propres rêves...
            <br>
            <br>
            Vivre Sa Vie pleinement... et être acteur de sa Vie!
            <img class="guillemet" src="../assets/images/taches/guillemet-droite.png" alt="guillemet-droit">
        </div>
    </div>
    <div class="fond"></div>

    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>


</body>

</html>