<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/tarifs.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Tarifs</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                <ul class="navbar">
                    <li class="onglet">
                        <a href="../index.html">Accueil</a>
                    </li>
                    <li class="onglet">
                        <a href="../view/espace_particuliers.html">Espace particuliers</a>
                        <div class="menu-deroulant">
                            <ul>
                                <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="onglet">
                        <a href="../view/espace_professionnels.html">Espace professionnels</a>
                        <div class="menu-deroulant">
                            <ul>
                                <li><a href="../view/coaching.html">Coaching</a></li>
                                <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                <li><a href="../view/formation.html">Formations</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="onglet">
                        <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                    </li>
                    <li>
                        <a href="../view/tarifs.html">Tarifs</a>
                    </li>
                    <li>
                        <p class="scroll">Contact</p>
                    </li>
                </ul>
            </div>

            <div id="btn_open" title="Afficher menu">&#9776;</div>
            <div id="btn_close" title="Masquer le Menu">&#128473;</div>
            <nav id="menu_burger">
                <ul class="menu_burger">
                    <li><a href="../index.html">ACCUEIL</a></li>
                    <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                        <div class="menu_par">
                            <ul>
                                <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                        <div class="menu_pro">
                            <ul>
                                <li><a href="../view/coaching.html">Coaching</a></li>
                                <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                <li><a href="../view/formation.html">Formations</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                    <li><a href="../view/tarifs.html">TARIFS</a></li>
                    <li>
                        <p class="scroll2">CONTACT</p>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>POUR LES PARTICULIERS</h2>
        <div class="ligne_orange"></div>
        <div class="tarifs">
            <div class="nom_prestation orange">
                <p>Thérapies Brèves & Coaching</p>
                <ul>
                    <li>adulte</li>
                    <li>enfant / ado</li>
                </ul>
                <p>Neurofeedback</p>
                <ul>
                    <li>première séance </li>
                    <li>seconde séance </li>
                </ul>
                <p>Atelier d’auto-hypnose adultes</p>
                <p>Atelier de développement personnel</p>
                <p>Atelier d’auto-hypnose ados</p>
                <p>Atelier enfants / ados</p>
                <p>Atelier du mieux être</p>
                <p>Bilan de compétences</p>
            </div>
            <div class="seances">
                <div class="titre_seances">
                    <p>Durée</p>
                </div>
                <p>1h15</p>
                <p>45 minutes</p>
                <p>1h15</p>
                <p>1h</p>
                <p>3 modules de 2h</p>
                <p>10 modules de 2h</p>
                <p>5 modules de 1h</p>
                <p>6 modules de 1h</p>
                <p>5 modules de 2h</p>
                <p>15h de travail en face à face et 9h de travail perso</p>
            </div>
            <div class="seances">
                <div class="titre_seances">
                    <p>Nombres de participants</p>
                </div>
                <p>individuel</p>
                <p>individuel</p>
                <p>individuel</p>
                <p>individuel</p>
                <p>4 à 8 personnes</p>
                <p>4 à 8 personnes</p>
                <p>4 à 6 ados</p>
                <p>4 à 6 enfants/ados</p>
                <p>4 à 8 personnes</p>
                <p>individuel</p>
            </div>
            <div class="seances total">
                <div class="titre_seances">
                    <p>Prix total</p>
                </div>
                <p>55 euros</p>
                <p>45 euros</p>
                <p>55 euros</p>
                <p>45 euros</p>
                <p>90 euros / pers</p>
                <p>300 euros / pers </p>
                <p>75 euros / pers</p>
                <p>120 euros / pers</p>
                <p>Financé par le centre Tubiana</p>
                <p>2027 euros financé par le CPF, les OPCO, l'employeur ou personnellement</p>
            </div>
        </div>
        <div class="new-tarifs">
            <div class="flex">
                <div class="bulle-orange">Thérapies Brèves & Coaching</div>
                <div>
                    <ul style="margin-bottom: 5px;">
                        <li>adulte</li>
                    </ul>
                    <p>=> 1h15</p>
                    <p>=> individuel</p>
                    <p>=> 45 euros</p>
                    <ul style="margin-bottom: 5px;">
                        <li>enfant / ado</li>
                    </ul>
                    <p>=> 45 minutes</p>
                    <p>=> individuel</p>
                    <p>=> 100 euros</p>
                </div>
            </div>
            <div class="flex">
                <div class="bulle-orange">Neurofeedback</div>
                <div>
                    <ul style="margin-bottom: 5px;">
                        <li>première séance</li>
                    </ul>
                    <p>=> 1h15</p>
                    <p>=> individuel</p>
                    <p>=> 55 euros</p>
                    <ul style="margin-bottom: 5px;">
                        <li>seconde séance</li>
                    </ul>
                    <p>=> 1h</p>
                    <p>=> individuel</p>
                    <p>=> 45 euros</p>
                </div>
            </div>
            <div class="flex">
                <div class="bulle-orange">Atelier d’auto-hypnose adultes</div>
                <ul>
                    <li>3 modules de 2h</li>
                    <li>4 à 8 personnes</li>
                    <li>90 euros / pers</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-orange">Atelier de développement personnel</div>
                <ul>
                    <li>10 modules de 2h</li>
                    <li>4 à 8 personnes</li>
                    <li>300 euros / pers</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-orange">Atelier d’auto-hypnose ados</div>
                <ul>
                    <li>5 modules de 1h</li>
                    <li>4 à 6 ados</li>
                    <li>75 euros / pers</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-orange">Atelier enfants / ados</div>
                <ul>
                    <li>6 modules de 1h</li>
                    <li>4 à 6 enfants/ados</li>
                    <li>120 euros / pers</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-orange">Atelier du mieux être</div>
                <ul>
                    <li>5 modules de 2h</li>
                    <li>4 à 8 personnes</li>
                    <li>Financé par le centre Tubiana</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-orange">Bilan de compétences</div>
                <ul>
                    <li>15h de travail en face à face et 9h de travail perso</li>
                    <li>individuel</li>
                    <li>2027 euros financé par le CPF, les OPCO, l'employeur ou personnellement</li>
                </ul>
            </div>
        </div>
        <h2>POUR LES PROFESSIONNELS</h2>
        <div class="ligne_vert"></div>
        <div class="tarifs">
            <div class="nom_prestation vert">
                <p>Coaching professionnel individuel</p>
                <p>Atelier d’auto-hypnose en 5 modules</p>
                <p>Atelier d’auto-hypnose en 3 modules</p>
                <p>Atelier « Apprivoiser ses émotions et développer la confiance en soi »</p>
                <p>Atelier du mieux être</p>
                <p>Formations</p>
                <p>Bilan de compétences</p>
            </div>
            <div class="seances pro">
                <div class="titre_seances titre_vert">
                    <p>Durée</p>
                </div>
                <p>de 1h30 à 3h</p>
                <p>5 modules de 2h</p>
                <p>3 modules de 2h</p>
                <p>3 modules de 2h</p><br>
                <p>5 modules de 2h</p>
                <p>Me contacter</p>
                <p>15h de travail en face à face et 9h de travail perso</p>
            </div>
            <div class="seances pro">
                <div class="titre_seances titre_vert">
                    <p>Nombres de participants</p>
                </div>
                <p>individuel</p>
                <p>4 professionnels</p>
                <p>4 professionnels</p>
                <p>4 professionnels</p><br>
                <p>4 à 8 personnes</p>
                <p>Me contacter</p>
                <p>individuel</p>
            </div>
            <div class="seances pro total">
                <div class="titre_seances titre_vert">
                    <p>Prix total</p>
                </div>
                <p>120 à 240 euros</p>
                <p>600 euros</p>
                <p>360 euros</p>
                <p>360 euros</p><br>
                <p>600 euros</p>
                <p>Me contacter</p>
                <p>2027 euros</p>
            </div>
        </div>
        <div class="new-tarifs">
            <div class="flex">
                <div class="bulle-vert">Coaching professionnel individuel</div>
                <ul>
                    <li>de 1h30 à 3h</li>
                    <li>individuel</li>
                    <li>120 à 240 euros</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-vert">Atelier d’auto-hypnose en 5 modules</div>
                <ul>
                    <li>5 modules de 2h</li>
                    <li>4 professionnels</li>
                    <li>600 euros</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-vert">Atelier d’auto-hypnose en 3 modules</div>
                <ul>
                    <li>3 modules de 2h</li>
                    <li>4 professionnels</li>
                    <li>360 euros</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-vert">Atelier « Apprivoiser ses émotions et développer la confiance en soi »</div>
                <ul>
                    <li>3 modules de 2h</li>
                    <li>4 professionnels</li>
                    <li>360 euros</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-vert">Atelier du mieux être</div>
                <ul>
                    <li>5 modules de 2h</li>
                    <li>4 à 8 personnes</li>
                    <li>600 euros</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-vert" style="padding-left: 20px;">Formations</div>
                <ul>
                    <li>Me contacter</li>
                    <li>Me contacter</li>
                    <li>Me contacter</li>
                </ul>
            </div>
            <div class="flex">
                <div class="bulle-vert">Bilan de compétences</div>
                <ul>
                    <li>15h de travail en face à face et 9h de travail perso</li>
                    <li>individuel</li>
                    <li>2027 euros</li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose
                    guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour
                    avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20'
                                pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne"
                                name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+"
                                placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+"
                                placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                            <input class="tel" type="tel"
                                pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                                name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message"
                            required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button"
                        onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';"
                        value="Me situer" name="coordonnées" />
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux"
                            src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux"
                            src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux"
                            src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>