<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/therapies.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="shortcut icon" href="../assets/images/logos/anagramme2.png" type="image/x-icon">
    <script src="../assets/js/menu_burger.js" defer></script>
    <title>Thérapies Brèves & Coaching</title>
</head>

<body>
    <header>
        <div class="conteneur-grid">
            <div class="grid-img"></div>
            <div class="grid-form"></div>
            <div class="grid-logo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
            </div>
            <div class="grid-titre">
                <h1></h1>
            </div>
            <div class="grid-wrap" id="wrap">
                    <ul class="navbar">
                        <li class="onglet">
                            <a href="../index.html">Accueil</a>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_particuliers.html">Espace particuliers</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/espace_professionnels.html">Espace professionnels</a>
                            <div class="menu-deroulant">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                                </div>
                        </li>
                        <li class="onglet">
                            <a href="../view/qui-suis-je.html">Qui suis-je?</a>
                        </li>
                        <li>
                            <a href="../view/tarifs.html">Tarifs</a>
                        </li>
                        <li>
                            <p class="scroll">Contact</p>
                        </li>
                    </ul>
                </div>
    
                <div id="btn_open" title="Afficher menu">&#9776;</div>
                <div id="btn_close" title="Masquer le Menu">&#128473;</div>
                <nav id="menu_burger">
                    <ul class="menu_burger">
                        <li><a href="../index.html">ACCUEIL</a></li>
                        <li><a href="../view/espace_particuliers.html">ESPACE PARTICULIERS</a>
                            <div class="menu_par">
                                <ul>
                                    <li><a href="../view/therapies.html">Thérapies Brèves & Coaching</a></li>
                                    <li><a href="../view/ateliers_particulier.html">Ateliers</a></li>
                                    <li><a href="../view/bilan.html">Bilan de compétences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/espace_professionnels.html">ESPACE PROFESSIONNELS</a>
                            <div class="menu_pro">
                                <ul>
                                    <li><a href="../view/coaching.html">Coaching</a></li>
                                    <li><a href="../view/ateliers_professionnel.html">Ateliers</a></li>
                                    <li><a href="../view/formation.html">Formations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../view/qui-suis-je.html">QUI SUIS-JE ?</a></li>
                        <li><a href="../view/tarifs.html">TARIFS</a></li>
                        <li>
                            <p class="scroll2">CONTACT</p>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>

    <main>
        <div class="espace">
            <p>Espace Particuliers</p>
        </div>
        <div class="diagramme"></div>
        <div class="citation">
            <div class="texte-or">
                <img class="guillemet" src="../assets/images/taches/guillemet-gauche.png" alt="">
                Faites confiance à votre inconscient, cet <br> immense magasin de solutions.
                <img class="guillemet" src="../assets/images/taches/guillemet-droite.png" alt="">
                <p class="texte-or">Milton Erickson</p>
            </div>
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">Pourquoi ?</h2>
        </div>
        <div class="pourquoi">
            <p>Quels sont les domaines d’application des Thérapies <br> Brèves et du Coaching ?</p>
            <p>Et bien ... un peu tout !</p>
            <p>C’est à dire ...</p>
        </div>
        <div class="therapies_application">
            <div class="application">
                <div class="img"></div>
                <div class="gris">
                    <p class="application_titre">apprivoisement des emotions</p>
                    <p>Hypersensibilité, angoisses, colère, phobies, peurs ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img2"></div>
                <div class="gris">
                    <p class="application_titre">gestion du stress</p>
                    <p>Nervosité, surcharge mentale, prise de parole, trac, gestion des conflits, anxiété ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img3"></div>
                <div class="gris">
                    <p class="application_titre">CONFIANCE EN SOI</p>
                    <p>Passer à l’action, Leadership, Se détacher du regard des autres, harcèlement, affirmation de soi
                        ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img4"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES ADDICTIFS</p>
                    <p>Alcool, drogue, dépendance affective, jeux ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img5"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES ALIMENTAIRES</p>
                    <p>Compulsions alimentaires, boulimie, hyperphagie, obésité, surpoids, anorexie ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img6"></div>
                <div class="gris">
                    <p class="application_titre">PROBLEMES DE SOMMEIL</p>
                    <p>Insomnie, cauchemars, énurésie ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img7"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES SEXUELS</p>
                    <p>Troubles de la libido, hyper-sexualité, douleurs, antécédent d'abus sexuel ou physique ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img8"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES DE LA COMMUNICATION</p>
                    <p>Timidité, bégaiement, trac ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img9"></div>
                <div class="gris">
                    <p class="application_titre">AMELIORATION DES COMPETENCES</p>
                    <p>Leadership, travail, empathie, réorientation professionnelle, sport, un domaine particulier...
                    </p>
                </div>
            </div>
            <div class="application">
                <div class="img10"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES ANXIEUX</p>
                    <p>Haut-potentiel, Mal-être, doute, dépression, stress, sensation d'épuisement, burn-out, anxiété
                        généralisée, TOC, traumatisme, stress post-traumatique, harcèlement, deuil, séparation, phobies
                        (spécifiques : avion, piqûre..., sociale)</p>
                </div>
            </div>
            <div class="application">
                <div class="img11"></div>
                <div class="gris">
                    <p class="application_titre">TROUBLES RELATIONNELS</p>
                    <p>Solitude, difficultés de couple, gestion des conflits, méfiance, difficulté à s'affirmer,
                        opposition avec l'autorité, colère, autres ...</p>
                </div>
            </div>
            <div class="application">
                <div class="img12"></div>
                <div class="gris">
                    <p class="application_titre">ET BIEN D’AUTRES CHOSES ...</p>
                    <p>Problème de confiance en soi, de concentration, de motivation, procrastination, peurs diverses,
                        manque d'intérêt en général, difficulté d’apprentissage...​..</p>
                </div>
            </div>
        </div>
        <div class="btn_savoir therapie_a">
            <a href="https://storyset.com/people" target="_blank">People illustrations by Storyset</a>
        </div>
        <div class="therapies_application_suite">
            <div class="fleche"></div>
            <div class="application">
                <div class="img13"></div>
                <div class="gris">
                    <p class="application_titre">PROBLEMES DE SANTE</p>
                    <p>Fibromyalgie, fatigue chronique, problèmes dermatologiques, cancer, SEP, migraines, allergies,
                        spasmophilie, psoriasis, eczéma, troubles psychosomatiques, maladie auto-immune, gestion de la
                        douleur, acceptation de la maladie...</p>
                </div>
            </div>
            <div class="therapies_application_suite_desc">
                <p><span class="vert">En soutien à votre traitement médical</span>, les outils thérapeutiques vous
                    aideront à avoir une meilleure
                    qualité de vie tout en contribuant, dans certains cas, à l'efficacité de votre traitement.</p>
                <p>Les récentes recherches en psychologie de la santé mettent en évidence les facteurs psychologiques
                    ayant une influence sur la santé. Le travail à un niveau inconscient vous aidera à agir.</p>
                <br>
                <p class="vert">Si le médicament s’adresse à une maladie, les outils thérapeutiques sont tournés vers la
                    personne et
                    individualise le soin.</p>
            </div>
        </div>
        <div class="therapies_application_desc">
            <div class="therapies_application_desc_un">
                <p>L’hypnose, la PNL, l'EMDR, l’EFT aident à résoudre
                    des comportements gênants qui peuvent échapper à votre contrôle.</p>
            </div>
            <div class="therapies_application_desc_deux">
                <div class="therapies_application_desc_deux_bulles">
                    <div class="therapies_application_desc_deux_bulle">
                        Développement personnel dans le cadre d’un
                        coaching
                    </div>
                    <ul>
                        <li>Développer sa confiance en soi, le leadership</li>
                        <li>Augmenter ses motivations</li>
                        <li>Planifier un projet professionnel</li>
                        <li>Préparation d’examen/concours ou d’entretien</li>
                        <li>Développement des capacités intellectuelles (mémoire, rapidité d’apprentissage,
                            concentration...)</li>
                        <li>Développement de ses performances sportives</li>
                        <li>Développement de sa créativité, de son intuition</li>
                        <li>Comment atteindre plus facilement un objectif personnel....</li>
                    </ul>
                </div>
                <div class="therapies_application_desc_deux_bulles">
                    <div class="therapies_application_desc_deux_bulle">
                        Accompagnement dans certaines étapes de votre vie
                    </div>
                    <ul>
                        <li>Séparation</li>
                        <li>Deuil</li>
                        <li>Divorce</li>
                        <li>Ré-Orientation Professionnelle</li>
                        <li>Départ en Retraite</li>
                        <li>Départ des Enfants</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="concept">
            <div class="cadre-blanc">
                <h2 class="titre">Concept</h2>
            </div>
            <p>Les thérapies brèves sont orientées solutions et interviennent principalement au niveau de l’inconscient
            </p>
            <p>Voici le principe :</p>
            <div class="concept_image"></div>
            <p>Les thérapies brèves et le coaching permettent d’agir à différents niveaux pour aller
                dans le bon sens…
                vers ce qui est bon et utile pour soi.</p>
            <div class="concept_citation">
                <div class="texte-or">
                    <img class="guillemet" src="../assets/images/taches/guillemet-gauche.png" alt="">
                    Ton esprit conscient est très intelligent, mais <br> à côté de ton inconscient, il est très stupide.
                    <img class="guillemet" src="../assets/images/taches/guillemet-droite.png" alt="">
                    <p class="texte-or">Milton Erickson</p>
                </div>
            </div>
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">Méthodes Utilisées</h2>
        </div>
        <div class="methode_intro">
            <p>Une thérapie brève est une thérapie de courte durée (en général, 3 à 10 séances ou un peu plus suivant
                l'état
                désiré), dont l'objectif est de solutionner le problème, on ne recherche <br>pas sa cause à tout prix.
            </p>
            <p>Vous vivrez votre thérapie ou votre accompagnement comme un apprentissage vous amenant à découvrir vos
                propres ressources dans le but d'atteindre Bien-être & Autonomie.</p><br>
            <p>La relation thérapeutique est ouverte, collaborative, dynamique et orientée solutions.</p><br>
            <p>Les techniques thérapeutiques, puissantes, naturelles et efficaces se placent au service de cette
                évolution
                et sont choisies ensemble afin d’être le plus adaptées et utiles pour vous.</p>
        </div>
        <div class="methode">
            <div class="methode_un_card">
                <div class="methode_un_card_image"></div>
                <p class="methode_un_card_titre">Hypnose Ericksonienne et Hypnothérapie </p>
                <p>L’hypnose Ericksonienne a pour but d’amener <span>conscient et inconscient</span> à travailler
                    ensemble pour
                    déclencher les changements utiles à la résolution du problème.</p>
                <p>L'état hypnotique permet de <span>mobiliser les ressources</span> de chacun, en "gommant"
                    éventuellement la
                    cassure psychologique naturelle entre l'esprit conscient et l'Inconscient et/ou en travaillant à la
                    source des soucis; cette source, c'est le "pilote automatique" qui gère en grande partie l'existence
                    : l'Inconscient.</p>
            </div>
            <div class="methode_un_desc">
                <p class="or">Grâce à l’hypnose, atteignez vos objectifs plus vite et plus facilement...</p><br>
                <p>L'hypnose est comme un "pont", qui permet au conscient d'accéder à l'Inconscient, de communiquer avec
                    lui, et ainsi d'avancer dans la même direction.</p><br>
                <p><span>L’hypnose est un état naturel, modifié de la conscience</span>, un état intermédiaire entre la
                    veille et le
                    sommeil, (et cet état, tout le monde l’a déjà vécu au moins 1 fois !).</p><br>
                <p>Pour <span class="ligne">Milton Erickson</span> – psychiatre américain (1901-1980) – l’inconscient
                    est profondément bon et
                    puissant. Il se révèle une énergie bienveillante avec laquelle l’état hypnotique doit permettre de
                    coopérer.</p><br>
                <p>L’inconscient est capable de mobiliser des ressources intérieures susceptibles de conduire aux
                    transformations désirées.</p><br>
                <div class="methode_un_desc_citation">
                    <div class="texte-or">
                        <img class="guillemet" src="../assets/images/taches/guillemet-gauche.png" alt="guillemet-gauche">
                        Vous savez bien plus de choses que vous savez <br> que vous savez.
                        <img class="guillemet" src="../assets/images/taches/guillemet-droite.png" alt="guillemet-droit">
                        <p class="texte-or">Milton Erickson</p>
                    </div>
                </div>
                <p>Grâce aux découvertes majeures réalisées ces dernières années dans les domaines de l'imagerie
                    médicale et des neurosciences, l'efficacité réelle de l'hypnose thérapeutique a pu être démontrée de
                    façon absolue. C'est d'ailleurs la raison pour laquelle l'hypnose thérapeutique a fait son grand
                    retour dans les hôpitaux pour soulager les patients souffrant d'anxiété, de douleurs et de syndrome
                    de stress post-traumatiques.</p><br>
                <p class="or">Tout en gardant une part consciente,</p>
                <p class="or">vous accédez à un « état modifié de conscience »,</p>
                <p class="or">vous libérant, ainsi de la rationalité et des inhibitions…</p>
                <p class="or">Vous vous ouvrez à une grande réceptivité et à une créativité démultipliée.</p>
            </div>
        </div>
        <div class="methode methode2">
            <div class="methode_un_desc">
                <p><span>La PNL consiste à apprendre à penser et communiquer plus efficacement avec les autres et avec
                        soi-même.</span></p><br>
                <p><span class="PNL">P</span> rogrammation : les types de comportements assimilés et reproduits</p>
                <p><span class="PNL">N</span> euro : ce qui se produit dans la tête, les pensées</p>
                <p><span class="PNL">L</span> inguistique : le langage et le mode d'utilisation, la communication</p>
                <br>
                <p>Elle étudie la structure de notre expérience subjective, un des concepts importants de la PNL est :
                    "la carte n’est pas le territoire", c’est la façon dont nous traitons l’information, en réaction aux
                    stimuli qui nous viennent de l’extérieur : la représentation interne que nous avons d’un événement
                    extérieur peut être différente de l’événement proprement dit.</p><br>
                <p>Suivant la façon dont nous nous sommes « programmés » nous allons percevoir différemment les
                    événements.</p><br>
                <p>La PNL permet de vous débarrasser de vos émotions désagréables et de vos croyances limitantes, et
                    ainsi vous accompagne pour "recoder vos programmes".</p><br>
                <p>La PNL fait partie des nouvelles méthodes de <span>développement personnel</span>, elle est utilisée
                    aussi bien
                    par les individus que par les organisations pour la dynamique et la performance de groupe en
                    entreprise. La PNL est née en 1970, en Californie par Richard Bandler et John Grinder, inspirés du
                    travail remarquable de Milton Erickson.</p><br>
                <p class="or">Rappelez-vous que dans tout échange entre deux personnes,</p>
                <p class="or">il y a toujours plusieurs façons de voir, entendre ou ressentir les choses,</p>
                <p class="or">il arrive parfois que nous ne saisissions pas cette réalité,</p>
                <p class="or">puisque nous sommes nous-mêmes souvent incapables de voir plus loin que la nôtre...</p>
            </div>
            <div class="methode_deux_card">
                <div class="methode_deux_card_image"></div>
                <p class="methode_un_card_titre">Programmation <br> Neuro-Linguistique</p>
                <p>La PNL est un ensemble de modèles et de techniques destinés à améliorer la communication entre
                    individus et à s’améliorer personnellement ; elle permet de comprendre comment chacun fonctionne, au
                    niveau des pensées, des sensations, des perceptions de l’environnement.</p>
            </div>
        </div>
        <div class="methode">
            <div class="methode_deux_card">
                <div class="methode_trois_card_image"></div>
                <p class="methode_un_card_titre">EMDR : Désensibilisation
                    et retraitement par les mouvements oculaires </p>
                <p>C'est une technique thérapeutique permettant de retraiter des <span>vécus traumatiques</span> non
                    digérés à
                    l'origine de divers symptômes, parfois très invalidants.</p>
            </div>
            <div class="methode_un_desc">
                <p><span>Le protocole EMDR et les stimulations bilatérales alternées permettent la mise en place d'une
                        solution adaptative, ce qui aboutit à un rééquilibrage des émotions, des pensées et de la
                        physiologie.</span></p><br>
                <p>L'EMDR est apparu en 1990, Françoise Shapiro, psychologue américaine, est à l'origine de cette
                    découverte.</p>
                <p>Cet outil thérapeutique qui se fait par une <span>stimulation bilatérale alternée</span> (mouvements
                    oculaires
                    généralement), permet au trauma, resté bloqué dans le système nerveux de remettre en route des
                    processus d'informations en lien avec ce traumatisme, ainsi les informations sont retraitées et
                    intégrées différemment.</p>
                <p>Ainsi, un retraitement du matériel inconscient est facilité.</p><br>
                <p>Un Traumatisme est une blessure invisible, il peut donc :</p>
                <ul>
                    <li>Modifier l'affect</li>
                    <li>Empêcher le fonctionnement cognitif (pensées négatives ou pas adaptées)</li>
                    <li>Empêcher le fonctionnement quotidien</li>
                </ul>
                <br>
                <p>Un traumatisme peut être de 2 origines :</p>
                <ul>
                    <li>Une histoire traumatique brève (accident, agression...) ou longs et répétitifs (violences,
                        en fermant...)</li>
                    <li>Des évènement(s) de vie non digéré(s) : troubles de l'adaptation</li>
                </ul>
                <br>
                <p class="or">L'EMDR active le processus de guérison et c'est vous qui en gardez le contrôle.</p>
            </div>
        </div>
        <div class="methode methode2">
            <div class="methode_un_desc">
                <p><span>C’est une version émotionnelle de l’acupuncture sans aiguille.</span></p><br>
                <p>Qu’elles soient agréables ou désagréables, les émotions ont toutes une bonne intention pour vous (pas
                    forcément pour les autres !), elles donnent une information sur ce que vous êtes en train de vivre,
                    sur vous ou sur les autres.</p><br>
                <div class="flex">
                    <div>
                        <p>Alors, on peut se poser ces questions :</p><br><br>
                        <ul>
                            <li>Quel est le message derrière cette émotion ?</li>
                            <li>Le comportement est-il approprié ou non ?</li>
                            <li>Quel est le besoin à satisfaire ?</li>
                            <li>Comment puis-je faire pour satisfaire ce besoin ?</li>
                        </ul>
                    </div>
                    <div class="methode_un_desc_img"></div>
                </div>
                <br>
                <p>L’EFT est une pratique qui permet d’exprimer verbalement les émotions, les ressentis en lien avec une
                    situation tout en tapotant sur les points méridiens spécifiques.</p>
                <p>L’EFT permet de vous libérez de vos tensions émotionnelles pour retrouver l’équilibre et démarrer sur
                    de nouvelles bases.</p><br>
                <p class="or">Cette pratique peut s’apprendre afin d’être autonome dans l’apprivoisement des émotions au
                    quotidien.</p>
            </div>
            <div class="methode_deux_card">
                <div class="methode_quatre_card_image"></div>
                <p class="methode_un_card_titre">EFT : Technique de Libération Emotionnelle</p>
                <p>L'EFT est une technique psychocorporelle, qui permet de libérer la charge émotionnelle désagréable.
                    Les émotions désagréables refoulées (non accueillies) peuvent engendrer une perturbation
                    énergétique, ainsi l’EFT permet de rétablir le bon fonctionnement énergétique.</p>
            </div>
        </div>
        <div class="cadre-blanc">
            <h2 class="titre">En Bref !</h2>
        </div>
        <div class="en_bref">
            <div class="en_bref_un">
                <p>Les outils utilisés (Hypnose, PNL, EMDR, EFT) lors de notre rencontre pourront libérer vos réserves
                    d'énergie et permettre d'accéder à vos propres ressources enfouies au plus profond de vous,
                    améliorer
                    votre concentration et votre clairvoyance, stimuler votre créativité et rétablir l'équilibre et le
                    bien-être dans votre existence.</p>
                <p>Le vécu a une expression toute personnelle et individuelle.</p>
                <p>Il n’y a donc pas de recette, ni de protocole que l’on pourrait appliquer systématiquement.</p>
                <p>Le chemin thérapeutique dépend de ce qui est mis en avant, l’intérêt est porté à la singularité de la
                    personne que vous êtes.</p>
            </div>
            <div class="en_bref_deux">
                <p>Chaque accompagnement est personnalisé, <br> ayant pour but de trouver la clé vers :</p>
                <p>Bien-être & Autonomie</p>
                <div class="en_bref_citation">
                    <div class="texte-or">
                        <img class="guillemet" src="../assets/images/taches/guillemet-gauche.png" alt="">
                        Les ressources sont dans la personne
                        <img class="guillemet" src="../assets/images/taches/guillemet-droite.png" alt="">
                        <p class="texte-or">Milton Erickson</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fond"></div>
        <div class="fond2"></div>
    </main>

    <footer>
        <div class="container">
            <div class="form_news">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Plaisir de partager !</p>
                    </div>
                </div>
                <p class="news">Si tu le souhaites, tu peux recevoir par mail, des séances de méditation ou d'hypnose guider à telecharger, des vidéos pertinentes, des articles, des liens intéressants et utiles pour avancer sur ton propre chemin... et aussi mes actualités (ateliers, formations…)
                    Cela, suivant l'inspiration et l'appétence du moment!
                </p>
                <div class="form">
                    <form action="#inscription" method="post">
                        <div class="champs-saisie">
                            <input class="prenomNews" type="text" name="prenomNews" maxlength='20' pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                            <input class="emailNews" type="email" name="emailNews" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required />
                        </div>
                        <div class="input">
                            <input id="inscription" class="btn-submit" type="submit" value="Je m'abonne" name="btn-inscription" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="form_contact" id="form_contact">
                <div class="cadre-blanc-titre">
                    <div class="cadre-gris">
                        <p class="titre">Me contacter</p>
                    </div>
                </div>
                <div class="form">
                    <form action="#contact" method="post">
                        <div class="champs-saisie">
                            <input class="nom" type="text" name="nom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Nom" required />
                            <input class="prenom" type="text" name="prenom" maxlength="20" pattern="[A-Za-zÀ-ÿ'-]+" placeholder="Prénom" required />
                        </div>
                        <div class="champs-saisie">
                            <input class="email" type="email" name="email" size="25" placeholder="Adresse e-mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            required />
                            <input class="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" 
                            name="tel" size="10" placeholder="N° de téléphone" required />
                        </div>
                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Saisissez votre message" required></textarea>
                        <div class="input">
                            <input id="contact" class="btn-submit" type="submit" value="Envoyer" name="btn-contact" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="vague"></div>
            <div class="coordo">
                <img class="logo" src="../assets/images/logos/logo.png" alt="colibri">
                <div>
                    <p>Tel : 06.86.68.26.06</p>
                    <p>2 rue du Général de Gaulle</p>
                    <p>14680 Bretteville-sur-Laize</p>
                    <input class="btn-submit" type="button" onclick="window.location.href = 'https://www.google.com/maps/place/Heloise+Hypnose/@49.0452606,-0.3272653,15z/data=!4m6!3m5!1s0x480a41a45ec5eab3:0xd35f3560c3e712bc!8m2!3d49.0452606!4d-0.3272653!16s%2Fg%2F11gr34ms2y';" value="Me situer" name="coordonnées"/>
                </div>
            </div>
            <div class="reseaux">
                <p class="h2">Suivez-moi sur</p>
                <div class="logo-reseaux">
                    <a href="https://www.facebook.com/heloisehypnose/"><img class="reseaux" src="../assets/images/logos/facebook.png" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/heloise_hypnose/"><img class="reseaux" src="../assets/images/logos/instagram.png" alt="logo instagramme"></a>
                    <a href="https://www.youtube.com/@heloiseribot9010/videos"><img class="reseaux" src="../assets/images/logos/youtube.png" alt="logo youtube"></a>
                </div>
            </div>
            <div class="mentions">
                <ul>
                    <li>&copy; <h1>Héloise Ribot</h1> 2023</li>
                    <li>-</li>
                    <li>Site créer par J.Gnagne</li>
                    <li>-</li>
                    <li><a href="#">Mentions légales</a></li>
                    <li>-</li>
                    <li><a href="#">Politique de cookie</a></li>
                </ul>
            </div>
        </div>
    </footer>


</body>

</html>